In [2]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
import xlrd

In [11]:
df = pd.read_excel('ForeignGifts.xls',encoding = 'latin-1', header = 1)

In [12]:
df.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
1,2,143400,American University (The),Washington,DC,2012-01-25,500000,Monetary Gift,BAHRAIN,Kingdom of Bahrain
2,3,143400,American University (The),Washington,DC,2013-05-28,500000,Monetary Gift,BAHRAIN,Sheikh Salman Bin Al-Khalifa
3,4,143400,American University (The),Washington,DC,2015-09-10,500000,Monetary Gift,KUWAIT,NaN
4,5,143400,American University (The),Washington,DC,2012-05-17,610000,Monetary Gift,ENGLAND,NaN

In [13]:
df.shape

(21052, 10)

In [14]:
df.dtypes

ID                                     int64
OPEID                                  int64
Institution Name                      object
City                                  object
State                                 object
Foreign Gift Received Date    datetime64[ns]
Foreign Gift Amount                    int64
Gift Type                             object
Country of Giftor                     object
Giftor Name                           object
dtype: object