In [47]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup
import numpy as np
from pandas import ExcelWriter
from pandas import ExcelFile
import xlrd
pd.options.display.max_rows = 200

In [48]:
df = pd.read_excel('ForeignGifts.xls',encoding = 'latin-1', header = 1)

In [49]:
df.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
1,2,143400,American University (The),Washington,DC,2012-01-25,500000,Monetary Gift,BAHRAIN,Kingdom of Bahrain
2,3,143400,American University (The),Washington,DC,2013-05-28,500000,Monetary Gift,BAHRAIN,Sheikh Salman Bin Al-Khalifa
3,4,143400,American University (The),Washington,DC,2015-09-10,500000,Monetary Gift,KUWAIT,NaN
4,5,143400,American University (The),Washington,DC,2012-05-17,610000,Monetary Gift,ENGLAND,NaN

In [50]:
df.shape

(21052, 10)

In [51]:
df.dtypes

ID                                     int64
OPEID                                  int64
Institution Name                      object
City                                  object
State                                 object
Foreign Gift Received Date    datetime64[ns]
Foreign Gift Amount                    int64
Gift Type                             object
Country of Giftor                     object
Giftor Name                           object
dtype: object

In [52]:
df.sort_values(by ='Foreign Gift Amount', ascending=False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
5717,5718,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5724,5725,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5725,5726,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5722,5723,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5721,5722,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5723,5724,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5719,5720,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5718,5719,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5720,5721,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5716,5717,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5714,5715,324200,Carnegie Mellon University,Pittsburgh,PA,2017-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
5713,5714,324200,Carnegie Mellon University,Pittsburgh,PA,2016-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
5715,5716,324200,Carnegie Mellon University,Pittsburgh,PA,2018-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
14,15,324200,Carnegie Mellon University,Pittsburgh,PA,2017-10-27,67700000,Contract,THAILAND,CMKL University
15,16,229000,Michigan State University,East Lansing,MI,2012-12-14,45128974,Contract,CANADA,MasterCard Foundation
16,17,137000,University of Colorado Boulder,Boulder,CO,2014-08-01,43021197,Contract,UNITED ARAB EMIRATES,EMIRATES INSTITUTION FOR ADVANCED S
17,18,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-05-06,43000000,Monetary Gift,SAUDI ARABIA,Mr. Mohammed A. Jameel
18,19,373500,Virginia Commonwealth University,Richmond,VA,2015-07-01,40092588,Contract,QATAR,Qatar Foundation
19,20,113100,California Institute of Technology,Pasadena,CA,2016-11-29,40000000,Monetary Gift,SINGAPORE,Tianqiao Chen
20,21,110800,University of Arkansas,Fayetteville,AR,2015-12-31,39108635,Contract,IRAQ,"Republic of Iraq, Higher Committee"
20754,20755,2171500,Western International University,Tempe,AZ,2014-04-17,38000000,Contract,INDIA,HCL
20132,20133,2098800,University of Phoenix,Phoenix,AZ,2014-04-17,38000000,Contract,INDIA,HCL
20133,20134,2098800,University of Phoenix,Phoenix,AZ,2014-04-17,38000000,Contract,INDIA,HCL
20134,20135,2098800,University of Phoenix,Phoenix,AZ,2014-07-31,38000000,Contract,INDIA,HCL
25,26,144500,Georgetown University,Washington,DC,2014-06-30,35104075,Contract,QATAR,Qatar Foundation
26,27,144500,Georgetown University,Washington,DC,2018-06-30,32937843,Contract,QATAR,Qatar Foundation
27,28,324200,Carnegie Mellon University,Pittsburgh,PA,2014-06-01,32729481,Contract,QATAR,NaN
28,29,144500,Georgetown University,Washington,DC,2016-06-30,32232861,Contract,QATAR,Qatar Foundation
29,30,144500,Georgetown University,Washington,DC,2017-07-01,30471294,Contract,QATAR,Qatar Foundation
14313,14314,131200,"University of California, Berkeley",Berkeley,CA,2012-07-18,30077837,Contract,CANADA,Master Card Foundation
14311,14312,131200,"University of California, Berkeley",Berkeley,CA,2012-06-30,30077837,Monetary Gift,CANADA,Anonymous
32,33,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-12-30,30000000,Monetary Gift,RUSSIA,NaN
33,34,144500,Georgetown University,Washington,DC,2013-01-10,29735681,Contract,QATAR,Qatar Foundation
34,35,215500,Harvard University,Cambridge,MA,2018-01-01,29244118,Monetary Gift,ENGLAND,NaN
35,36,173900,Northwestern University,Evanston,IL,2018-12-31,28615387,Contract,QATAR,Qatar Foundation
36,37,131700,"University of California, San Diego",La Jolla,CA,2018-02-28,28000000,Monetary Gift,INDIA,Tata Education and Development Trus
37,38,144500,Georgetown University,Washington,DC,2017-07-15,27445391,Contract,QATAR,Qatar Foundation
10240,10241,173900,Northwestern University,Evanston,IL,2017-12-31,27129067,Contract,QATAR,Qatar Foundation
10241,10242,173900,Northwestern University,Evanston,IL,2018-06-30,27129067,Contract,QATAR,Qatar Foundation
40,41,144500,Georgetown University,Washington,DC,2013-07-05,26671099,Contract,QATAR,Qatar Foundation
41,42,215500,Harvard University,Cambridge,MA,2016-01-01,26100000,Monetary Gift,HONG KONG,NaN
42,43,144500,Georgetown University,Washington,DC,2015-12-01,25916911,Contract,QATAR,Qatar Foundation
43,44,144500,Georgetown University,Washington,DC,2012-12-31,25753062,Contract,QATAR,Qatar Foundation
44,45,215500,Harvard University,Cambridge,MA,2017-01-01,25525075,Monetary Gift,HONG KONG,NaN
45,46,292000,Duke University,Durham,NC,2015-12-31,25458640,Monetary Gift,FRANCE,Sanofi-Aventis Recherche
46,47,144500,Georgetown University,Washington,DC,2012-06-30,25285787,Contract,QATAR,Qatar Foundation
47,48,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-05-01,25000000,Monetary Gift,SAUDI ARABIA,"Jameel. Mohammed, Abdul"
48,49,363200,Texas A&M University,College Station,TX,2016-05-23,24955073,Contract,QATAR,Qatar Foundation
49,50,144500,Georgetown University,Washington,DC,2016-07-15,24798288,Contract,QATAR,Qatar Foundation
10222,10223,173900,Northwestern University,Evanston,IL,2016-12-31,24487436,Contract,QATAR,Qatar Foundation
10223,10224,173900,Northwestern University,Evanston,IL,2017-06-30,24487436,Contract,QATAR,Qatar Foundation
52,53,144500,Georgetown University,Washington,DC,2014-12-31,24436092,Contract,QATAR,Qatar Foundation
10216,10217,173900,Northwestern University,Evanston,IL,2016-06-30,23307395,Contract,QATAR,Qatar Foundation
10215,10216,173900,Northwestern University,Evanston,IL,2015-12-31,23307395,Contract,QATAR,Qatar Foundation
55,56,324200,Carnegie Mellon University,Pittsburgh,PA,2018-01-01,23136000,Contract,PORTUGAL,Portuguese Science and Technology
56,57,173900,Northwestern University,Evanston,IL,2014-12-31,23065535,Contract,QATAR,Qatar Foundation
57,58,173900,Northwestern University,Evanston,IL,2015-06-30,22963483,Contract,QATAR,Qatar Foundation
10210,10211,173900,Northwestern University,Evanston,IL,2014-06-30,22226159,Contract,QATAR,Qatar Foundation
10209,10210,173900,Northwestern University,Evanston,IL,2013-12-31,22226159,Contract,QATAR,Qatar Foundation
10191,10192,173900,Northwestern University,Evanston,IL,2012-12-31,22111424,Contract,QATAR,Qatar Foundation
10208,10209,173900,Northwestern University,Evanston,IL,2013-06-30,22111424,Contract,QATAR,Qatar Foundation
62,63,278500,New York University,New York,NY,2013-05-01,21783526,Contract,UNITED ARAB EMIRATES,Omeir Travel
63,64,4143200,Hult International Business School,Cambridge,MA,2012-10-01,21532410,Contract,SWITZERLAND,Hult InternationalBusinessSchoolAG
64,65,215500,Harvard University,Cambridge,MA,2013-07-01,21000000,Monetary Gift,BRAZIL,NaN
65,66,173900,Northwestern University,Evanston,IL,2012-06-30,20746288,Contract,QATAR,Qatar Foundation
66,67,215500,Harvard University,Cambridge,MA,2018-01-01,19900000,Monetary Gift,CHINA,NaN
67,68,177500,University of Illinois at Urbana-Champaign,Champaign,IL,2016-08-25,19500000,Contract,CHINA,Zhejiang University
68,69,215500,Harvard University,Cambridge,MA,2017-01-01,18850441,Monetary Gift,ENGLAND,NaN
69,70,215500,Harvard University,Cambridge,MA,2015-01-01,18740593,Monetary Gift,HONG KONG,NaN
70,71,363200,Texas A&M University,College Station,TX,2016-02-17,18547304,Contract,QATAR,Qatar Foundation
9594,9595,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-01-12,18000000,Monetary Gift,ENGLAND,STL PTC UK Limited
7596,7597,215500,Harvard University,Cambridge,MA,2013-07-01,18000000,Monetary Gift,HONG KONG,NaN
73,74,360400,Rice University,Houston,TX,2017-12-15,17700000,Monetary Gift,BERMUDA,Anonymous
74,75,292000,Duke University,Durham,NC,2016-01-01,17606870,Monetary Gift,FRANCE,Sanofi-Aventis Recerche
75,76,192800,Kansas State University,Manhattan,KS,2015-03-05,17211400,Contract,ECUADOR,Ecuador Ministry of Education
76,77,292000,Duke University,Durham,NC,2014-12-31,16696513,Contract,FRANCE,Sanofi-Aventis Recerche
77,78,215500,Harvard University,Cambridge,MA,2015-07-01,16650000,Monetary Gift,HONG KONG,NaN
78,79,132800,University of Southern California,Los Angeles,CA,2016-08-08,16274056,Contract,CHINA,NaN
79,80,215500,Harvard University,Cambridge,MA,2015-03-03,16182196,Contract,SAUDI ARABIA,NaN
80,81,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-08-20,16000000,Monetary Gift,JERSEY,NaN
81,82,215500,Harvard University,Cambridge,MA,2015-01-15,15774352,Contract,ENGLAND,NaN
82,83,292000,Duke University,Durham,NC,2015-06-30,15726616,Monetary Gift,SWEDEN,Astrazeneca AB R&D Molandal
83,84,215500,Harvard University,Cambridge,MA,2013-07-01,15300000,Monetary Gift,CANADA,NaN
84,85,108300,University of Arizona (The),Tucson,AZ,2013-09-20,15240000,Contract,JAPAN,University of Tokyo
85,86,292000,Duke University,Durham,NC,2014-12-31,15236418,Contract,SWEDEN,Astra Zeneca
86,87,292000,Duke University,Durham,NC,2016-07-01,14736512,Monetary Gift,FRANCE,Sanofi-Aventis Recerche
87,88,142600,Yale University,New Haven,CT,2018-12-19,14450000,Monetary Gift,HONG KONG,Anonymous #24
13707,13708,363200,Texas A&M University,College Station,TX,2016-09-29,14240331,Contract,QATAR,Qatar Foundation
13708,13709,363200,Texas A&M University,College Station,TX,2016-09-29,14240331,Contract,QATAR,Qatar Foundation
90,91,215500,Harvard University,Cambridge,MA,2017-07-01,14197900,Monetary Gift,ENGLAND,NaN
91,92,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-12,14063965,Contract,QATAR,NaN
92,93,215500,Harvard University,Cambridge,MA,2013-01-01,13958500,Monetary Gift,BRAZIL,NaN
93,94,292000,Duke University,Durham,NC,2014-06-30,13886257,Monetary Gift,SWEDEN,Astrazeneca Ab R&D Molandal
94,95,292000,Duke University,Durham,NC,2018-01-01,13679059,Monetary Gift,FRANCE,Sanofi Aventis Recherche
95,96,324200,Carnegie Mellon University,Pittsburgh,PA,2013-04-01,13400000,Contract,PORTUGAL,NaN
96,97,278500,New York University,New York,NY,2017-07-31,13369447,Monetary Gift,SWITZERLAND,Anonymous
97,98,292000,Duke University,Durham,NC,2017-01-01,13066811,Monetary Gift,FRANCE,Sanofi-Aventis Recerche
98,99,215500,Harvard University,Cambridge,MA,2013-07-01,13015813,Contract,ENGLAND,NaN
99,100,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-04-19,13000000,Monetary Gift,ENGLAND,SAMUEL TAK LEE CHAR TRUST
...,...,...,...,...,...,...,...,...,...,...
20789,20790,339300,Westminster Theological Seminary,Glenside,PA,2018-04-05,5,Monetary Gift,CANADA,Samuel Wirzba
20790,20791,339300,Westminster Theological Seminary,Glenside,PA,2018-05-08,5,Monetary Gift,CANADA,Reilly Irvine
20772,20773,339300,Westminster Theological Seminary,Glenside,PA,2017-03-11,5,Monetary Gift,CANADA,Donald Lark
20770,20771,339300,Westminster Theological Seminary,Glenside,PA,2017-02-07,5,Monetary Gift,CANADA,Steven Williamson
19390,19391,199900,University of Louisville,Louisville,KY,2017-02-06,5,Monetary Gift,ENGLAND,Mr. Joe Hogan
20758,20759,339300,Westminster Theological Seminary,Glenside,PA,2016-09-16,5,Monetary Gift,CANADA,Annette T. Sikkema
14591,14592,131500,"University of California, Los Angeles",Los Angeles,CA,2018-02-09,5,Monetary Gift,TAIWAN,"Liang, En-Chen"
19027,19028,450800,University of Colorado Denver,Denver,CO,2012-06-30,5,Monetary Gift,FRANCE,Nicolas Busquet
1105,1106,113100,California Institute of Technology,Pasadena,CA,2015-09-30,5,Monetary Gift,FRANCE,"Misevic, Dusan"
1104,1105,113100,California Institute of Technology,Pasadena,CA,2015-09-29,5,Monetary Gift,ENGLAND,"Porter, Mason A."
8115,8116,207700,Johns Hopkins University,Baltimore,MD,2017-02-01,5,Monetary Gift,EGYPT,NaN
20755,20756,339300,Westminster Theological Seminary,Glenside,PA,2016-08-10,5,Monetary Gift,CANADA,Edwin C. Barnes
20756,20757,339300,Westminster Theological Seminary,Glenside,PA,2016-08-25,5,Monetary Gift,CANADA,John Mank
20757,20758,339300,Westminster Theological Seminary,Glenside,PA,2016-09-10,5,Monetary Gift,CANADA,Gary Zekveld
20759,20760,339300,Westminster Theological Seminary,Glenside,PA,2016-10-27,5,Monetary Gift,CANADA,Hank Van der Woerd
20769,20770,339300,Westminster Theological Seminary,Glenside,PA,2017-02-01,5,Monetary Gift,CANADA,John Sinton
20760,20761,339300,Westminster Theological Seminary,Glenside,PA,2016-10-29,5,Monetary Gift,CANADA,Arie DeHaan
20761,20762,339300,Westminster Theological Seminary,Glenside,PA,2016-11-11,5,Monetary Gift,CANADA,Norine A. Inglis
20762,20763,339300,Westminster Theological Seminary,Glenside,PA,2016-12-17,5,Monetary Gift,CANADA,Arjun Kandasamy
20764,20765,339300,Westminster Theological Seminary,Glenside,PA,2016-12-27,5,Monetary Gift,CANADA,Norine A. Inglis
20765,20766,339300,Westminster Theological Seminary,Glenside,PA,2017-01-08,5,Monetary Gift,CANADA,Corey Yednoroz
20766,20767,339300,Westminster Theological Seminary,Glenside,PA,2017-01-23,5,Monetary Gift,CANADA,Henry Watson
20767,20768,339300,Westminster Theological Seminary,Glenside,PA,2017-01-24,5,Monetary Gift,CANADA,Steven Williamson
20768,20769,339300,Westminster Theological Seminary,Glenside,PA,2017-01-24,5,Monetary Gift,CANADA,Andre Schutten
20791,20792,339300,Westminster Theological Seminary,Glenside,PA,2018-06-13,5,Monetary Gift,CANADA,Bob Popma
14590,14591,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-03,5,Monetary Gift,HONG KONG,"AU, SUI TIM"
14528,14529,131500,"University of California, Los Angeles",Los Angeles,CA,2015-06-30,5,Monetary Gift,JAPAN,"Tsutsumi, Yusake"
14529,14530,131500,"University of California, Los Angeles",Los Angeles,CA,2015-06-30,5,Monetary Gift,SWITZERLAND,"Anderson, Cristen Louise"
14505,14506,131500,"University of California, Los Angeles",Los Angeles,CA,2012-12-11,5,Monetary Gift,CHINA,"Leung, Christopher"
14516,14517,131500,"University of California, Los Angeles",Los Angeles,CA,2013-03-12,5,Monetary Gift,HONG KONG,"Sy, Wing Lam"
14517,14518,131500,"University of California, Los Angeles",Los Angeles,CA,2013-05-10,5,Monetary Gift,CHINA,"Li, Qinxiao"
14520,14521,131500,"University of California, Los Angeles",Los Angeles,CA,2014-02-26,5,Monetary Gift,CHINA,"Zhao, Zhihao"
14521,14522,131500,"University of California, Los Angeles",Los Angeles,CA,2014-03-05,5,Monetary Gift,HONG KONG,"Cheung, Chloe Yi Hang"
14522,14523,131500,"University of California, Los Angeles",Los Angeles,CA,2014-03-16,5,Monetary Gift,CHINA,"Deng, Yiwen"
14523,14524,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-29,5,Monetary Gift,CHINA,"Gao, Scully"
14524,14525,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-29,5,Monetary Gift,CHINA,"Song, Xin"
14525,14526,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-10,5,Monetary Gift,CANADA,"Halseth, Kelly Christine"
14526,14527,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-17,5,Monetary Gift,CANADA,"Bao, Tyler"
14527,14528,131500,"University of California, Los Angeles",Los Angeles,CA,2015-05-20,5,Monetary Gift,CANADA,"Marling, Mary Ruth"
14530,14531,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-09,5,Monetary Gift,ENGLAND,"GOSS, CHRIS"
14531,14532,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-20,5,Monetary Gift,GERMANY,"HOHNDORF, JULIAN"
14532,14533,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,5,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14533,14534,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-13,5,Monetary Gift,ENGLAND,"Murray, Fiona"
14534,14535,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,5,Monetary Gift,ENGLAND,"SWANN, CHARLES WILLIAM EDWARD"
14535,14536,131500,"University of California, Los Angeles",Los Angeles,CA,2016-05-23,5,Monetary Gift,CANADA,"Kuo, Mandy"
14543,14544,131500,"University of California, Los Angeles",Los Angeles,CA,2016-05-25,5,Monetary Gift,JAPAN,"Tsuji, Kensuke"
14544,14545,131500,"University of California, Los Angeles",Los Angeles,CA,2016-08-12,5,Monetary Gift,JAPAN,"NAIKI, YASUKO"
14553,14554,131500,"University of California, Los Angeles",Los Angeles,CA,2016-11-01,5,Monetary Gift,ENGLAND,"SWANN, CHARLES WILLIAM"
14554,14555,131500,"University of California, Los Angeles",Los Angeles,CA,2017-01-19,5,Monetary Gift,CHINA,"HE, BOYUAN"
14565,14566,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-01,5,Monetary Gift,CANADA,"BOON, DAVID"
19388,19389,199900,University of Louisville,Louisville,KY,2015-10-29,5,Monetary Gift,CHINA,Zhijun Zhang
19389,19390,199900,University of Louisville,Louisville,KY,2015-11-11,5,Monetary Gift,ENGLAND,Eszter Lanyi
14504,14505,131500,"University of California, Los Angeles",Los Angeles,CA,2012-11-11,5,Monetary Gift,SINGAPORE,"Parreno, Enrico"
14472,14473,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Landis, Sarah Henry"
14495,14496,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,4,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14473,14474,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Wang Ph.D, Winnie Wenyi"
14501,14502,131500,"University of California, Los Angeles",Los Angeles,CA,2017-03-16,4,Monetary Gift,CANADA,"PANVICHEAN, CHAYAPHOL"
14491,14492,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Smith, Georgie"
14494,14495,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Canda Fiserova, Johana"
14500,14501,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,4,Monetary Gift,ENGLAND,"WRIGHT, ANDREW C"
14490,14491,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Newman, Michael A"
14475,14476,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Swann, Charles William Edward"
14447,14448,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-15,4,Monetary Gift,CHINA,"Liu, Tianchi"
14487,14488,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Rathbauer, Dietmar"
14474,14475,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Chen, Vivian Wei-Yi"
14452,14453,131500,"University of California, Los Angeles",Los Angeles,CA,2013-02-15,4,Monetary Gift,CHINA,"Liu, Tianchi"
14451,14452,131500,"University of California, Los Angeles",Los Angeles,CA,2013-02-15,4,Monetary Gift,CHINA,"Liu, Tianchi"
14457,14458,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Moura, Ashton David"
14453,14454,131500,"University of California, Los Angeles",Los Angeles,CA,2013-11-18,4,Monetary Gift,ENGLAND,"Kasson, Madeleine Claire"
14481,14482,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Makepeace, Claire Ann"
14482,14483,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Viechnicki, Karen L"
14486,14487,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Trumble, Jessica Jane"
14458,14459,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Bui, Matthew Nguyen"
14483,14484,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Pham, Angela Phuong"
14484,14485,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-17,4,Monetary Gift,ENGLAND,"Nouel, Alexander T"
14448,14449,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-15,4,Monetary Gift,CHINA,"Liu, Tianchi"

In [53]:
df.groupby(by='Institution Name').count().sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
Institution Name,,,,,,,,,
"University of California, Los Angeles",3611,3611,3611,3611,3611,3611,3611,3611,3486
California Institute of Technology,3364,3364,3364,3364,3364,3364,3364,3364,3364
Johns Hopkins University,1181,1181,1181,1181,1181,1181,1181,1181,0
Columbia University in the City of New York,828,828,828,828,828,828,828,828,828
Ohio State University (The),795,795,795,795,795,795,795,795,795
University of Michigan - Ann Arbor,702,702,702,702,702,702,702,702,702
Stanford University,659,659,659,659,659,659,659,659,0
Harvard University,564,564,564,564,564,564,564,564,0
Massachusetts Institute of Technology,415,415,415,415,415,415,415,415,291
University of Colorado Denver,412,412,412,412,412,412,412,412,412
Babson College,391,391,391,391,391,391,391,391,391
Saint John's University,360,360,360,360,360,360,360,360,360
University of Pittsburgh - Pittsburgh,343,343,343,343,343,343,343,343,343
"University of California, Berkeley",322,322,322,322,322,322,322,322,322
Arizona State University,274,274,274,274,274,274,274,274,274
New York University,266,266,266,266,266,266,266,266,266
University of Louisville,264,264,264,264,264,264,264,264,264
University of Washington - Seattle,263,263,263,263,263,263,263,263,263
Indiana University - Purdue University Indianapolis,250,250,250,250,250,250,250,250,250
University of North Carolina - Chapel Hill,242,242,242,242,242,242,242,242,242
Princeton University,239,239,239,239,239,239,239,239,160
University of Pennsylvania,236,236,236,236,236,236,236,236,236
University of Southern California,230,230,230,230,230,230,230,230,84
Northwestern University,230,230,230,230,230,230,230,230,230
Westminster Theological Seminary,202,202,202,202,202,202,202,202,202
Yale University,185,185,185,185,185,185,185,185,184
University of Chicago (The),177,177,177,177,177,177,177,177,0
University of Texas at Austin,170,170,170,170,170,170,170,170,170
Cornell University,169,169,169,169,169,169,169,169,169
Carnegie Mellon University,163,163,163,163,163,163,163,163,45
Texas A&M University,163,163,163,163,163,163,163,163,163
Georgia Institute of Technology,161,161,161,161,161,161,161,161,161
George Washington University,132,132,132,132,132,132,132,132,132
University of Illinois at Urbana-Champaign,128,128,128,128,128,128,128,128,128
University of Kansas,120,120,120,120,120,120,120,120,113
Colorado State University,120,120,120,120,120,120,120,120,120
Duke University,111,111,111,111,111,111,111,111,111
Purdue University,105,105,105,105,105,105,105,105,105
Georgetown University,103,103,103,103,103,103,103,103,103
Northwood University,98,98,98,98,98,98,98,98,98
University of Kentucky,97,97,97,97,97,97,97,97,97
Pennsylvania State University (The),93,93,93,93,93,93,93,93,93
University of Virginia,91,91,91,91,91,91,91,91,91
University of Notre Dame,85,85,85,85,85,85,85,85,85
"University of California, Irvine",83,83,83,83,83,83,83,83,83
Washington University in St. Louis,82,82,82,82,82,82,82,82,82
Virginia Commonwealth University,77,77,77,77,77,77,77,77,77
Tufts University,76,76,76,76,76,76,76,76,76
Emory University,70,70,70,70,70,70,70,70,70
University of Iowa,69,69,69,69,69,69,69,69,69
Brown University,66,66,66,66,66,66,66,66,66
Rice University,60,60,60,60,60,60,60,60,60
University of Arizona (The),58,58,58,58,58,58,58,58,58
Boston University,57,57,57,57,57,57,57,57,57
"Teachers College, Columbia University",52,52,52,52,52,52,52,52,33
"University of California, Santa Barbara",50,50,50,50,50,50,50,50,50
University of Arkansas,47,47,47,47,47,47,47,47,47
University of Minnesota - Twin Cities,45,45,45,45,45,45,45,45,45
Ohio University,44,44,44,44,44,44,44,44,44
George Mason University,43,43,43,43,43,43,43,43,43
University of Colorado Boulder,39,39,39,39,39,39,39,39,39
University of Wisconsin - Madison,37,37,37,37,37,37,37,37,37
Bryant University,34,34,34,34,34,34,34,34,34
University of Oklahoma,32,32,32,32,32,32,32,32,32
Virginia Polytechnic Institute & State University,31,31,31,31,31,31,31,31,31
New York Institute of Technology,28,28,28,28,28,28,28,28,28
"University of California, Davis",28,28,28,28,28,28,28,28,28
Haverford College,28,28,28,28,28,28,28,28,28
Indiana University - Bloomington,28,28,28,28,28,28,28,28,28
Oregon Health & Science University,26,26,26,26,26,26,26,26,26
School of the Art Institute of Chicago,24,24,24,24,24,24,24,24,24
University of Miami,24,24,24,24,24,24,24,24,24
Iowa State University of Science & Technology,23,23,23,23,23,23,23,23,23
"University of California, San Diego",22,22,22,22,22,22,22,22,22
University of Georgia,22,22,22,22,22,22,22,22,22
Smith College,21,21,21,21,21,21,21,21,12
University of Rochester,19,19,19,19,19,19,19,19,19
Soka University of America,18,18,18,18,18,18,18,18,1
Dartmouth College,18,18,18,18,18,18,18,18,12
Vanderbilt University,17,17,17,17,17,17,17,17,17
Michigan State University,16,16,16,16,16,16,16,16,16
Texas Tech University,16,16,16,16,16,16,16,16,16
Eastern Washington University,15,15,15,15,15,15,15,15,15
University of Texas at Dallas,14,14,14,14,14,14,14,14,14
"University of California, San Francisco",14,14,14,14,14,14,14,14,14
University of Tennessee,14,14,14,14,14,14,14,14,14
MCPHS University,14,14,14,14,14,14,14,14,13
Keuka College,14,14,14,14,14,14,14,14,14
University of Phoenix,13,13,13,13,13,13,13,13,13
Kansas State University,13,13,13,13,13,13,13,13,13
University of Missouri - Columbia,13,13,13,13,13,13,13,13,13
Keck Graduate Institute of Applied Life Sciences,13,13,13,13,13,13,13,13,13
Culinary Institute of America,12,12,12,12,12,12,12,12,12
Miami University,12,12,12,12,12,12,12,12,7
University of Oregon,12,12,12,12,12,12,12,12,12
Middlebury College,12,12,12,12,12,12,12,12,12
Ball State University,12,12,12,12,12,12,12,12,12
University of Texas Southwestern Medical Center (The),11,11,11,11,11,11,11,11,11
University of New Hampshire,10,10,10,10,10,10,10,10,10
University of Utah,10,10,10,10,10,10,10,10,10
American University (The),10,10,10,10,10,10,10,10,5
"University of California, Santa Cruz",10,10,10,10,10,10,10,10,10
Oregon State University,8,8,8,8,8,8,8,8,8
University of Vermont and State Agricultural College,8,8,8,8,8,8,8,8,8
Rochester Institute of Technology,7,7,7,7,7,7,7,7,7
New Mexico State University,6,6,6,6,6,6,6,6,6
Graceland University,6,6,6,6,6,6,6,6,6
Missouri State University,5,5,5,5,5,5,5,5,5
University of New England,5,5,5,5,5,5,5,5,3
Western International University,5,5,5,5,5,5,5,5,5
Stevens Institute of Technology,5,5,5,5,5,5,5,5,5
University of Florida,5,5,5,5,5,5,5,5,5
Worcester Polytechnic Institute,4,4,4,4,4,4,4,4,4
University of Texas at El Paso,4,4,4,4,4,4,4,4,4
DePaul University,4,4,4,4,4,4,4,4,4
Wake Forest University,4,4,4,4,4,4,4,4,4
Biola University,4,4,4,4,4,4,4,4,4
Thunderbird School of Global Management,4,4,4,4,4,4,4,4,4
University of North Texas,4,4,4,4,4,4,4,4,4
Fort Hays State University,3,3,3,3,3,3,3,3,3
Gustavus Adolphus College,3,3,3,3,3,3,3,3,3
Juilliard School (The),3,3,3,3,3,3,3,3,3
Marian University,3,3,3,3,3,3,3,3,3
Middle Tennessee State University,3,3,3,3,3,3,3,3,3
University of Cincinnati,3,3,3,3,3,3,3,3,3
Brigham Young University,3,3,3,3,3,3,3,3,2
University of North Texas Health Science Center at Fort Worth,3,3,3,3,3,3,3,3,3
New Jersey Institute of Technology,3,3,3,3,3,3,3,3,3
Polytechnic Institute of New York University,3,3,3,3,3,3,3,3,3
Westmont College,2,2,2,2,2,2,2,2,2
University of Houston,2,2,2,2,2,2,2,2,2
Corban University,2,2,2,2,2,2,2,2,2
University of Illinois at Chicago,2,2,2,2,2,2,2,2,2
Amherst College,2,2,2,2,2,2,2,2,2
Saint Louis University,2,2,2,2,2,2,2,2,2
University of Texas at Arlington,2,2,2,2,2,2,2,2,2
University of Tennessee Health Science Center,2,2,2,2,2,2,2,2,2
"New School, The",2,2,2,2,2,2,2,2,2
Lincoln University,2,2,2,2,2,2,2,2,2
Wesleyan College,1,1,1,1,1,1,1,1,1
Belhaven University,1,1,1,1,1,1,1,1,1
Azusa Pacific University,1,1,1,1,1,1,1,1,1
Wayne State University,1,1,1,1,1,1,1,1,1
Washington State University,1,1,1,1,1,1,1,1,1
Washington Adventist University,1,1,1,1,1,1,1,1,1
Bucknell University,1,1,1,1,1,1,1,1,0
Jacksonville University,1,1,1,1,1,1,1,1,1
Villanova University,1,1,1,1,1,1,1,1,1
California Institute of Advanced Management,1,1,1,1,1,1,1,1,1
Valencia College,1,1,1,1,1,1,1,1,1
Colgate University,1,1,1,1,1,1,1,1,1
Colorado School of Mines,1,1,1,1,1,1,1,1,1
Hult International Business School,1,1,1,1,1,1,1,1,1
University of Portland,1,1,1,1,1,1,1,1,1
Michigan Technological University,1,1,1,1,1,1,1,1,1
Mount Holyoke College,1,1,1,1,1,1,1,1,1
University of Mississippi,1,1,1,1,1,1,1,1,1
Regis College,1,1,1,1,1,1,1,1,1
Saint Mary's College,1,1,1,1,1,1,1,1,1
St. Lawrence University,1,1,1,1,1,1,1,1,1
Yeshiva University,1,1,1,1,1,1,1,1,1

In [54]:
df.groupby(by='Institution Name').sum().sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Foreign Gift Amount
Institution Name,,,
Carnegie Mellon University,685918,52844600,1378003807
Harvard University,2244942,121542000,1143899998
Massachusetts Institute of Technology,3315753,90387000,660830374
Johns Hopkins University,9778790,245293700,447459034
Northwestern University,1773051,39997000,420550173
Georgetown University,439448,14883500,415622195
"University of California, Berkeley",3383831,42246400,336801721
Duke University,421232,32412000,314693237
Stanford University,7469064,85999500,313775195
New York University,1625636,74081000,291391003
Texas A&M University,1363521,59201600,285035511
University of Michigan - Ann Arbor,8111269,163215000,282725943
University of Southern California,2790660,30544000,250252087
Columbia University in the City of New York,6073081,224139600,236090683
"University of California, Los Angeles",57546206,474846500,186837568
University of Pennsylvania,2354858,79720800,165963138
Cornell University,819948,45815900,154061183
University of Phoenix,261677,27284400,152570846
University of Chicago (The),2124089,31399800,131959856
George Washington University,667905,19060800,124162711
California Institute of Technology,28199969,380468400,119194892
Yale University,2772187,26381000,112274698
University of Illinois at Urbana-Champaign,838107,22720000,108270239
University of Washington - Seattle,2770838,99887400,101125464
Arizona State University,1739516,29619400,96540373
Princeton University,2586856,62785300,88373904
Tufts University,425437,16864400,83471900
University of Arkansas,226086,5207600,78749797
Rice University,550691,21624000,76198959
Purdue University,657960,19162500,73057384
George Mason University,187761,16120700,69628724
Western International University,103765,10857500,62826482
Georgia Institute of Technology,1195436,25260900,59205518
Indiana University - Purdue University Indianapolis,1979933,45325000,57754567
University of Arizona (The),331062,6281400,57509629
Boston University,133232,12141000,56821536
Saint John's University,3913181,101494800,56034228
University of Colorado Boulder,393038,5343000,55834868
Indiana University - Bloomington,153374,5065200,55700524
Michigan State University,94655,3664000,55498768
Virginia Commonwealth University,838582,28759500,50521339
University of Pittsburgh - Pittsburgh,5188286,115899700,50485772
Babson College,1900017,82931100,49524870
University of Kansas,1261153,23376000,47016619
Ohio State University (The),9812043,245655000,46384434
"University of California, San Diego",268542,2897400,46369084
"University of California, Irvine",553651,10906200,44505458
University of Iowa,519001,13054800,40928151
Kansas State University,38119,2506400,40335444
Emory University,408997,10948000,38866757
University of Notre Dame,1061258,15640000,36506668
New York Institute of Technology,73137,7789600,36068316
Dartmouth College,94478,4631400,35539618
Oregon Health & Science University,108040,12693200,35198462
Eastern Washington University,43171,5662500,34741317
School of the Art Institute of Chicago,272625,4207200,33082880
University of North Carolina - Chapel Hill,3502783,71970800,30875968
University of Texas at Austin,2624913,62186000,29907015
Ball State University,19447,2143200,29885709
Washington University in St. Louis,1160559,20664000,24120366
Pennsylvania State University (The),845022,30959700,23964148
University of Oklahoma,384874,10188800,22576154
University of Miami,285337,3686400,21775758
Hult International Business School,64,4143200,21532410
"University of California, Santa Barbara",763730,6600000,21480264
University of Wisconsin - Madison,443938,14411500,21433605
University of Minnesota - Twin Cities,399622,17860500,20807607
Colorado State University,1156627,16200000,20343498
University of Colorado Denver,6743597,185729600,19631174
University of Virginia,1093814,34079500,18543923
Virginia Polytechnic Institute & State University,394729,11637400,16210485
University of Georgia,138356,3515600,16109651
Juilliard School (The),9047,822600,15238905
Vanderbilt University,113592,6009500,14838589
University of Kentucky,1337151,19293300,14758840
"Teachers College, Columbia University",568065,20690800,14712882
"University of California, Davis",237017,3676400,14416377
Iowa State University of Science & Technology,147365,4298700,14397547
Ohio University,382866,13640000,13242221
University of Rochester,101727,5498600,12973433
Northwood University,956538,39905600,12604893
University of Oregon,90093,3867600,12061027
Soka University of America,170687,68659200,11064765
University of Louisville,4609043,52773600,10552379
University of Texas at Dallas,158023,13637400,10375553
Oregon State University,30199,2568000,10311145
MCPHS University,60711,3031000,8966944
Brown University,469004,22446600,8798585
Texas Tech University,146376,5830400,8147870
"University of California, San Francisco",235869,1846600,7952116
American University (The),13769,1434000,7439404
University of Tennessee,155185,4942000,7351305
Culinary Institute of America,37888,8764800,7302144
"New School, The",10291,4132400,5982174
Missouri State University,17760,1251500,5979661
DePaul University,11675,668400,5868239
University of New England,32172,1025000,5789989
Graceland University,24050,1119600,5446412
Miami University,52026,3692400,5442179
University of New Hampshire,72956,2589000,5419735
Wake Forest University,15746,1191200,5239652
Haverford College,219926,9167200,5104548
Fort Hays State University,8049,574500,5009575
Thunderbird School of Global Management,11332,428000,4749569
University of Texas Southwestern Medical Center (The),50606,11020900,4680952
University of Vermont and State Agricultural College,63551,2956800,4005654
Middlebury College,99528,4429200,3793308
Rochester Institute of Technology,53663,1964200,3755179
"University of California, Santa Cruz",119525,1321000,3581985
University of Missouri - Columbia,127254,3270800,3553103
Colorado School of Mines,5728,134800,3500000
Biola University,7391,448800,3463027
University of Florida,19846,767500,3422298
New Mexico State University,21886,1594200,3418131
Keuka College,101227,3841600,3317341
Marian University,12563,1158300,2767000
University of Utah,129040,3675000,2397331
Bryant University,125643,11566800,2355670
Stevens Institute of Technology,57337,1319500,2306200
Keck Graduate Institute of Applied Life Sciences,110349,50092900,2178342
Gustavus Adolphus College,16914,705900,2107800
Jacksonville University,807,149500,2005558
Westmont College,41889,268200,2000000
Smith College,246570,4638900,1952322
University of North Texas,49699,1437600,1785478
Brigham Young University,2592,1101000,1750000
New Jersey Institute of Technology,16483,786300,1726217
University of Cincinnati,25325,937500,1666608
Washington Adventist University,1052,206700,1581497
University of Illinois at Chicago,38585,355200,1557227
University of North Texas Health Science Center at Fort Worth,13025,2930400,1555705
Worcester Polytechnic Institute,66177,893200,1500210
Westminster Theological Seminary,4135201,68538600,1375144
Lincoln University,17285,658000,1199959
Middle Tennessee State University,31645,1053000,1066491
University of Houston,38581,730400,1053333
Regis College,11654,220600,1000000
Belhaven University,831,239700,1000000
Corban University,13611,267800,850000
Amherst College,6263,423000,778723
University of Tennessee Health Science Center,40903,1345000,681000
Polytechnic Institute of New York University,29789,838800,657499
University of Texas at Arlington,27876,731200,645000
University of Texas at El Paso,52743,1464400,629600
Wesleyan College,20750,160000,500000
Saint Louis University,24256,501200,500000
Saint Mary's College,3928,183600,458115
Colgate University,5727,270100,400000
California Institute of Advanced Management,1103,4250600,375000
Washington State University,5502,380000,315503
Valencia College,20674,675000,310000
University of Portland,20326,322400,300000
Mount Holyoke College,9615,219200,300000
Azusa Pacific University,286,111700,299980
Wayne State University,5944,232900,299895
Yeshiva University,5986,290300,297397
University of Mississippi,6040,244000,293818
Bucknell University,6123,323800,288432
Michigan Technological University,9604,229200,275000
Villanova University,6478,338800,264466
St. Lawrence University,12226,282900,262000

In [55]:
df[df['Gift Type'] =='Monetary Gift'].groupby(by='Institution Name').count().sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
Institution Name,,,,,,,,,
"University of California, Los Angeles",3084,3084,3084,3084,3084,3084,3084,3084,2961
Johns Hopkins University,1179,1179,1179,1179,1179,1179,1179,1179,0
Stanford University,614,614,614,614,614,614,614,614,0
Massachusetts Institute of Technology,365,365,365,365,365,365,365,365,291
Columbia University in the City of New York,347,347,347,347,347,347,347,347,347
Harvard University,267,267,267,267,267,267,267,267,0
Princeton University,237,237,237,237,237,237,237,237,160
California Institute of Technology,220,220,220,220,220,220,220,220,220
Westminster Theological Seminary,202,202,202,202,202,202,202,202,202
University of Louisville,197,197,197,197,197,197,197,197,197
University of Pennsylvania,195,195,195,195,195,195,195,195,195
Yale University,185,185,185,185,185,185,185,185,184
University of Chicago (The),118,118,118,118,118,118,118,118,0
New York University,110,110,110,110,110,110,110,110,110
University of Southern California,108,108,108,108,108,108,108,108,38
Purdue University,105,105,105,105,105,105,105,105,105
University of Pittsburgh - Pittsburgh,103,103,103,103,103,103,103,103,103
"University of California, Berkeley",103,103,103,103,103,103,103,103,103
Duke University,93,93,93,93,93,93,93,93,93
University of Notre Dame,85,85,85,85,85,85,85,85,85
Texas A&M University,63,63,63,63,63,63,63,63,63
Cornell University,60,60,60,60,60,60,60,60,60
Washington University in St. Louis,59,59,59,59,59,59,59,59,59
Indiana University - Purdue University Indianapolis,56,56,56,56,56,56,56,56,56
University of Michigan - Ann Arbor,53,53,53,53,53,53,53,53,53
University of Kansas,47,47,47,47,47,47,47,47,40
Babson College,46,46,46,46,46,46,46,46,46
University of Texas at Austin,44,44,44,44,44,44,44,44,44
University of Colorado Denver,43,43,43,43,43,43,43,43,43
Northwestern University,41,41,41,41,41,41,41,41,41
Ohio State University (The),35,35,35,35,35,35,35,35,35
Bryant University,34,34,34,34,34,34,34,34,34
"Teachers College, Columbia University",33,33,33,33,33,33,33,33,25
"University of California, Santa Barbara",33,33,33,33,33,33,33,33,33
Carnegie Mellon University,32,32,32,32,32,32,32,32,0
Georgetown University,32,32,32,32,32,32,32,32,32
University of Virginia,31,31,31,31,31,31,31,31,31
Boston University,29,29,29,29,29,29,29,29,29
Haverford College,28,28,28,28,28,28,28,28,28
"University of California, Davis",28,28,28,28,28,28,28,28,28
George Washington University,26,26,26,26,26,26,26,26,26
Colorado State University,24,24,24,24,24,24,24,24,24
Indiana University - Bloomington,23,23,23,23,23,23,23,23,23
Georgia Institute of Technology,22,22,22,22,22,22,22,22,22
"University of California, San Diego",22,22,22,22,22,22,22,22,22
"University of California, Irvine",22,22,22,22,22,22,22,22,22
Smith College,21,21,21,21,21,21,21,21,12
University of Illinois at Urbana-Champaign,21,21,21,21,21,21,21,21,21
Soka University of America,18,18,18,18,18,18,18,18,1
Brown University,17,17,17,17,17,17,17,17,17
Rice University,16,16,16,16,16,16,16,16,16
University of Wisconsin - Madison,16,16,16,16,16,16,16,16,16
Tufts University,16,16,16,16,16,16,16,16,16
University of North Carolina - Chapel Hill,15,15,15,15,15,15,15,15,15
"University of California, San Francisco",14,14,14,14,14,14,14,14,14
Emory University,14,14,14,14,14,14,14,14,14
University of Texas at Dallas,14,14,14,14,14,14,14,14,14
Dartmouth College,11,11,11,11,11,11,11,11,5
University of Texas Southwestern Medical Center (The),10,10,10,10,10,10,10,10,10
University of Miami,10,10,10,10,10,10,10,10,10
Middlebury College,10,10,10,10,10,10,10,10,10
School of the Art Institute of Chicago,9,9,9,9,9,9,9,9,9
New York Institute of Technology,9,9,9,9,9,9,9,9,9
American University (The),8,8,8,8,8,8,8,8,5
MCPHS University,8,8,8,8,8,8,8,8,7
Arizona State University,8,8,8,8,8,8,8,8,8
Michigan State University,8,8,8,8,8,8,8,8,8
Oregon State University,7,7,7,7,7,7,7,7,7
University of Colorado Boulder,7,7,7,7,7,7,7,7,7
Pennsylvania State University (The),6,6,6,6,6,6,6,6,6
"University of California, Santa Cruz",6,6,6,6,6,6,6,6,6
Graceland University,6,6,6,6,6,6,6,6,6
University of Texas at El Paso,4,4,4,4,4,4,4,4,4
Worcester Polytechnic Institute,4,4,4,4,4,4,4,4,4
University of Utah,4,4,4,4,4,4,4,4,4
University of Missouri - Columbia,4,4,4,4,4,4,4,4,4
Biola University,4,4,4,4,4,4,4,4,4
Texas Tech University,3,3,3,3,3,3,3,3,3
Vanderbilt University,3,3,3,3,3,3,3,3,3
Marian University,3,3,3,3,3,3,3,3,3
Wake Forest University,3,3,3,3,3,3,3,3,3
Saint John's University,3,3,3,3,3,3,3,3,3
University of Washington - Seattle,2,2,2,2,2,2,2,2,2
Brigham Young University,2,2,2,2,2,2,2,2,2
Westmont College,2,2,2,2,2,2,2,2,2
Corban University,2,2,2,2,2,2,2,2,2
University of Oregon,2,2,2,2,2,2,2,2,2
Lincoln University,2,2,2,2,2,2,2,2,2
Saint Louis University,2,2,2,2,2,2,2,2,2
Amherst College,2,2,2,2,2,2,2,2,2
Gustavus Adolphus College,2,2,2,2,2,2,2,2,2
Mount Holyoke College,1,1,1,1,1,1,1,1,1
Regis College,1,1,1,1,1,1,1,1,1
Azusa Pacific University,1,1,1,1,1,1,1,1,1
Belhaven University,1,1,1,1,1,1,1,1,1
Polytechnic Institute of New York University,1,1,1,1,1,1,1,1,1
Ohio University,1,1,1,1,1,1,1,1,1
DePaul University,1,1,1,1,1,1,1,1,1
University of Portland,1,1,1,1,1,1,1,1,1
Juilliard School (The),1,1,1,1,1,1,1,1,1
University of North Texas,1,1,1,1,1,1,1,1,1
Bucknell University,1,1,1,1,1,1,1,1,0
California Institute of Advanced Management,1,1,1,1,1,1,1,1,1
Colgate University,1,1,1,1,1,1,1,1,1
University of Tennessee,1,1,1,1,1,1,1,1,1
St. Lawrence University,1,1,1,1,1,1,1,1,1
Yeshiva University,1,1,1,1,1,1,1,1,1

In [56]:
df[df['Institution Name']=='Carnegie Mellon University'].sort_values(by ='Foreign Gift Amount', ascending=False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
5724,5725,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5716,5717,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5717,5718,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5718,5719,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5719,5720,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5720,5721,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5721,5722,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5722,5723,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5723,5724,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5725,5726,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-16,75000000,Contract,BERMUDA,NaN
5713,5714,324200,Carnegie Mellon University,Pittsburgh,PA,2016-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
5714,5715,324200,Carnegie Mellon University,Pittsburgh,PA,2017-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
5715,5716,324200,Carnegie Mellon University,Pittsburgh,PA,2018-01-01,74130684,Contract,QATAR,Qatar Foundation for Education
14,15,324200,Carnegie Mellon University,Pittsburgh,PA,2017-10-27,67700000,Contract,THAILAND,CMKL University
27,28,324200,Carnegie Mellon University,Pittsburgh,PA,2014-06-01,32729481,Contract,QATAR,NaN
55,56,324200,Carnegie Mellon University,Pittsburgh,PA,2018-01-01,23136000,Contract,PORTUGAL,Portuguese Science and Technology
91,92,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-12,14063965,Contract,QATAR,NaN
95,96,324200,Carnegie Mellon University,Pittsburgh,PA,2013-04-01,13400000,Contract,PORTUGAL,NaN
125,126,324200,Carnegie Mellon University,Pittsburgh,PA,2016-04-14,10788616,Monetary Gift,CANADA,NaN
5711,5712,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-30,10000000,Monetary Gift,INDIA,NaN
5712,5713,324200,Carnegie Mellon University,Pittsburgh,PA,2018-06-19,10000000,Contract,HONG KONG,NaN
162,163,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-12,9154657,Contract,QATAR,NaN
5710,5711,324200,Carnegie Mellon University,Pittsburgh,PA,2017-02-16,5000000,Monetary Gift,QATAR,NaN
5709,5710,324200,Carnegie Mellon University,Pittsburgh,PA,2015-11-03,5000000,Contract,UNITED ARAB EMIRATES,Emirates Group
369,370,324200,Carnegie Mellon University,Pittsburgh,PA,2018-04-02,4180000,Contract,JAPAN,NaN
420,421,324200,Carnegie Mellon University,Pittsburgh,PA,2017-09-30,3900000,Contract,SINGAPORE,NaN
441,442,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-01,3669082,Contract,QATAR,Qatar National Research Fund
501,502,324200,Carnegie Mellon University,Pittsburgh,PA,2018-06-29,3250000,Contract,JAPAN,NaN
5708,5709,324200,Carnegie Mellon University,Pittsburgh,PA,2015-12-03,3000000,Monetary Gift,SWITZERLAND,NaN
5707,5708,324200,Carnegie Mellon University,Pittsburgh,PA,2012-09-18,3000000,Contract,INDIA,NaN
585,586,324200,Carnegie Mellon University,Pittsburgh,PA,2013-01-01,2955279,Contract,SOUTH AFRICA,NaN
588,589,324200,Carnegie Mellon University,Pittsburgh,PA,2016-01-01,2950000,Contract,JAPAN,University of Hyogo
597,598,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-01,2870000,Contract,SOUTH AFRICA,NaN
5706,5707,324200,Carnegie Mellon University,Pittsburgh,PA,2017-03-22,2500000,Monetary Gift,INDIA,NaN
5705,5706,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-28,2500000,Monetary Gift,INDIA,NaN
5704,5705,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-09,2500000,Contract,GERMANY,"Robert Bosch, LLC"
686,687,324200,Carnegie Mellon University,Pittsburgh,PA,2013-12-01,2451338,Contract,COLOMBIA,NaN
5702,5703,324200,Carnegie Mellon University,Pittsburgh,PA,2015-06-30,2400000,Contract,INDIA,Science & Engineering Research Bd.
5703,5704,324200,Carnegie Mellon University,Pittsburgh,PA,2015-07-03,2400000,Contract,INDIA,Science and Engineering Research
5701,5702,324200,Carnegie Mellon University,Pittsburgh,PA,2017-02-06,2350000,Contract,TAIWAN,NaN
5700,5701,324200,Carnegie Mellon University,Pittsburgh,PA,2015-12-16,2300000,Contract,TAIWAN,NaN
771,772,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-29,2115500,Contract,SOUTH AFRICA,Anglo Operations Limited
775,776,324200,Carnegie Mellon University,Pittsburgh,PA,2018-06-01,2107937,Contract,QATAR,Qatar National Research Fund
5699,5700,324200,Carnegie Mellon University,Pittsburgh,PA,2014-09-24,2000000,Contract,TAIWAN,FoxConn Technology Group
5698,5699,324200,Carnegie Mellon University,Pittsburgh,PA,2017-10-17,1900000,Contract,SWITZERLAND,NaN
944,945,324200,Carnegie Mellon University,Pittsburgh,PA,2016-08-01,1835659,Contract,CHILE,NaN
5646,5647,324200,Carnegie Mellon University,Pittsburgh,PA,2014-06-28,1800000,Contract,INDIA,NaN
1061,1062,324200,Carnegie Mellon University,Pittsburgh,PA,2017-03-30,1570000,Monetary Gift,JAPAN,NaN
1226,1227,324200,Carnegie Mellon University,Pittsburgh,PA,2017-02-03,1352820,Contract,SOUTH KOREA,LG Electronics
1419,1420,324200,Carnegie Mellon University,Pittsburgh,PA,2014-09-01,1120000,Contract,JAPAN,"Tsuneishi Shipbuilding Co., Ltd."
1443,1444,324200,Carnegie Mellon University,Pittsburgh,PA,2018-02-14,1092800,Contract,QATAR,NaN
5645,5646,324200,Carnegie Mellon University,Pittsburgh,PA,2018-04-11,1050000,Contract,SAUDI ARABIA,Prince Mohammed Bin Abdullazaz Coll
1496,1497,324200,Carnegie Mellon University,Pittsburgh,PA,2014-02-01,1049901,Contract,QATAR,NaN
1518,1519,324200,Carnegie Mellon University,Pittsburgh,PA,2016-01-18,1035000,Contract,JAPAN,NaN
1528,1529,324200,Carnegie Mellon University,Pittsburgh,PA,2014-07-29,1026747,Contract,SOUTH KOREA,LG Electronics
5627,5628,324200,Carnegie Mellon University,Pittsburgh,PA,2014-07-24,1000000,Contract,ENGLAND,Robert D. Sansom & Edith Eligator
5642,5643,324200,Carnegie Mellon University,Pittsburgh,PA,2016-12-12,1000000,Monetary Gift,HONG KONG,NaN
5620,5621,324200,Carnegie Mellon University,Pittsburgh,PA,2013-06-30,1000000,Contract,TAIWAN,NaN
5643,5644,324200,Carnegie Mellon University,Pittsburgh,PA,2017-10-09,1000000,Monetary Gift,CHINA,NaN
5628,5629,324200,Carnegie Mellon University,Pittsburgh,PA,2016-10-07,1000000,Monetary Gift,CHINA,NaN
5619,5620,324200,Carnegie Mellon University,Pittsburgh,PA,2012-12-21,975000,Contract,RUSSIA,NaN
1858,1859,324200,Carnegie Mellon University,Pittsburgh,PA,2014-06-26,973347,Contract,COLOMBIA,NaN
1878,1879,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-01,964000,Contract,KOREA,NaN
5612,5613,324200,Carnegie Mellon University,Pittsburgh,PA,2014-02-21,931000,Contract,RUSSIA,NaN
5578,5579,324200,Carnegie Mellon University,Pittsburgh,PA,2012-02-08,913600,Contract,QATAR,NaN
5611,5612,324200,Carnegie Mellon University,Pittsburgh,PA,2012-02-08,913600,Contract,QATAR,NaN
1957,1958,324200,Carnegie Mellon University,Pittsburgh,PA,2016-11-21,904862,Monetary Gift,ENGLAND,NaN
1999,2000,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-05,899233,Contract,QATAR,Qatar National Research
2000,2001,324200,Carnegie Mellon University,Pittsburgh,PA,2017-07-17,898535,Monetary Gift,CANADA,NaN
2001,2002,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-05,898419,Contract,QATAR,Qatar National Research
2005,2006,324200,Carnegie Mellon University,Pittsburgh,PA,2018-05-01,896500,Contract,CHINA,NaN
2054,2055,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-05,866550,Contract,QATAR,Qatar National Research
2094,2095,324200,Carnegie Mellon University,Pittsburgh,PA,2012-09-04,848500,Contract,THE NETHERLANDS,NaN
2095,2096,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-15,847937,Contract,QATAR,Qatar National Research
2132,2133,324200,Carnegie Mellon University,Pittsburgh,PA,2013-04-17,833334,Contract,INDIA,NaN
5577,5578,324200,Carnegie Mellon University,Pittsburgh,PA,2012-04-16,833333,Contract,INDIA,NaN
2136,2137,324200,Carnegie Mellon University,Pittsburgh,PA,2013-11-30,832000,Contract,SWITZERLAND,NaN
2150,2151,324200,Carnegie Mellon University,Pittsburgh,PA,2014-09-01,822722,Contract,JAPAN,Univ. of Hyogo
2162,2163,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-01,817362,Contract,QATAR,NaN
2261,2262,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-05,793434,Contract,QATAR,Qatar National Research
2413,2414,324200,Carnegie Mellon University,Pittsburgh,PA,2017-12-20,747776,Contract,CHILE,NaN
2421,2422,324200,Carnegie Mellon University,Pittsburgh,PA,2013-03-01,744143,Contract,SOUTH KOREA,NaN
5576,5577,324200,Carnegie Mellon University,Pittsburgh,PA,2016-10-01,720000,Contract,ITALY,NaN
2535,2536,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-01,698477,Contract,JAPAN,NaN
2542,2543,324200,Carnegie Mellon University,Pittsburgh,PA,2017-06-01,695604,Contract,SOUTH KOREA,Korea Electronics Technology Inst.
2699,2700,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-15,635573,Contract,SOUTH KOREA,NaN
2760,2761,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-09,617566,Contract,SWEDEN,Lund University
2761,2762,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-26,617500,Contract,RUSSIA,Innopolis University
2813,2814,324200,Carnegie Mellon University,Pittsburgh,PA,2017-08-01,600863,Contract,JAPAN,NaN
5573,5574,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-29,600000,Monetary Gift,INDIA,NaN
5575,5576,324200,Carnegie Mellon University,Pittsburgh,PA,2018-06-11,600000,Monetary Gift,SWITZERLAND,NaN
5574,5575,324200,Carnegie Mellon University,Pittsburgh,PA,2017-06-14,600000,Monetary Gift,SWITZERLAND,NaN
5572,5573,324200,Carnegie Mellon University,Pittsburgh,PA,2016-06-10,600000,Monetary Gift,SWITZERLAND,NaN
2917,2918,324200,Carnegie Mellon University,Pittsburgh,PA,2012-09-02,590000,Contract,THE NETHERLANDS,NaN
2973,2974,324200,Carnegie Mellon University,Pittsburgh,PA,2012-09-09,575000,Contract,THE NETHERLANDS,NaN
3027,3028,324200,Carnegie Mellon University,Pittsburgh,PA,2017-08-30,561900,Contract,SWITZERLAND,NaN
5571,5572,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-18,550000,Monetary Gift,INDIA,NaN
5570,5571,324200,Carnegie Mellon University,Pittsburgh,PA,2013-01-01,540000,Contract,FRANCE,NaN
3204,3205,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-22,522400,Contract,ENGLAND,Robert D. Sansom
3265,3266,324200,Carnegie Mellon University,Pittsburgh,PA,2016-08-05,511035,Monetary Gift,ENGLAND,NaN
5534,5535,324200,Carnegie Mellon University,Pittsburgh,PA,2017-04-05,500000,Monetary Gift,CHINA,NaN
5511,5512,324200,Carnegie Mellon University,Pittsburgh,PA,2013-08-02,500000,Contract,INDIA,NaN
5513,5514,324200,Carnegie Mellon University,Pittsburgh,PA,2014-03-24,500000,Contract,JAPAN,NaN
5514,5515,324200,Carnegie Mellon University,Pittsburgh,PA,2015-03-03,500000,Contract,CHINA,Orient Golf International (HK) Limi
5533,5534,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-18,500000,Monetary Gift,INDIA,NaN
5510,5511,324200,Carnegie Mellon University,Pittsburgh,PA,2015-08-24,495000,Monetary Gift,JAPAN,NaN
3774,3775,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-01,483600,Contract,PORTUGAL,NaN
5507,5508,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-11,481810,Contract,SOUTH KOREA,NaN
5506,5507,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-29,481810,Contract,SOUTH KOREA,LG Electronics
5509,5510,324200,Carnegie Mellon University,Pittsburgh,PA,2018-02-14,481810,Contract,SOUTH KOREA,NaN
5505,5506,324200,Carnegie Mellon University,Pittsburgh,PA,2015-03-05,481810,Contract,SOUTH KOREA,Executive Education
3789,3790,324200,Carnegie Mellon University,Pittsburgh,PA,2014-03-20,481000,Contract,SOUTH KOREA,NaN
5504,5505,324200,Carnegie Mellon University,Pittsburgh,PA,2016-01-20,480000,Monetary Gift,JAPAN,NaN
5499,5500,324200,Carnegie Mellon University,Pittsburgh,PA,2014-09-24,480000,Contract,JAPAN,"Tsuneishi Shipbuilding Co., Ltd."
3838,3839,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-01,472500,Contract,PORTUGAL,International Finance OGC
5498,5499,324200,Carnegie Mellon University,Pittsburgh,PA,2015-08-17,460000,Contract,JAPAN,NaN
3932,3933,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-23,456800,Monetary Gift,QATAR,NaN
5497,5498,324200,Carnegie Mellon University,Pittsburgh,PA,2012-01-01,425000,Contract,INDIA,NaN
4295,4296,324200,Carnegie Mellon University,Pittsburgh,PA,2014-04-29,413400,Contract,ENGLAND,NaN
4591,4592,324200,Carnegie Mellon University,Pittsburgh,PA,2018-02-22,389200,Contract,SOUTH KOREA,NaN
4646,4647,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-01,383990,Contract,NORWAY,NaN
4782,4783,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,370356,Contract,THE NETHERLANDS,Shell Global Solutions
5496,5497,324200,Carnegie Mellon University,Pittsburgh,PA,2012-12-17,370000,Contract,SOUTH KOREA,NaN
4818,4819,324200,Carnegie Mellon University,Pittsburgh,PA,2014-06-12,367416,Contract,COLOMBIA,NaN
5483,5484,324200,Carnegie Mellon University,Pittsburgh,PA,2016-04-01,366000,Contract,SOUTH KOREA,NaN
5066,5067,324200,Carnegie Mellon University,Pittsburgh,PA,2013-01-01,348067,Contract,JAPAN,NaN
5482,5483,324200,Carnegie Mellon University,Pittsburgh,PA,2015-10-14,337490,Contract,SOUTH KOREA,NaN
5478,5479,324200,Carnegie Mellon University,Pittsburgh,PA,2013-12-01,337490,Contract,SOUTH KOREA,NaN
5180,5181,324200,Carnegie Mellon University,Pittsburgh,PA,2014-12-01,337400,Contract,SOUTH KOREA,Ajou University
5187,5188,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-01,337000,Contract,RUSSIA,NaN
5199,5200,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-01,335390,Monetary Gift,ENGLAND,NaN
5333,5334,324200,Carnegie Mellon University,Pittsburgh,PA,2015-03-16,325286,Contract,ENGLAND,Vodafone Group PLC
5477,5478,324200,Carnegie Mellon University,Pittsburgh,PA,2012-10-15,319000,Contract,JAPAN,NaN
5476,5477,324200,Carnegie Mellon University,Pittsburgh,PA,2016-05-17,317520,Monetary Gift,CZECH REPUBLIC,NaN
5540,5541,324200,Carnegie Mellon University,Pittsburgh,PA,2018-01-22,312243,Monetary Gift,JAPAN,NaN
5593,5594,324200,Carnegie Mellon University,Pittsburgh,PA,2012-07-01,307603,Contract,MEXICO,NaN
5460,5461,324200,Carnegie Mellon University,Pittsburgh,PA,2016-04-26,300000,Contract,JAPAN,Tokyo Metropolitan Police Dept
5465,5466,324200,Carnegie Mellon University,Pittsburgh,PA,2018-04-01,300000,Contract,JAPAN,NaN
5459,5460,324200,Carnegie Mellon University,Pittsburgh,PA,2015-04-29,300000,Contract,INDIA,Shrinivas V. Dempo
5464,5465,324200,Carnegie Mellon University,Pittsburgh,PA,2017-07-24,300000,Contract,JAPAN,National Police Agency
5941,5942,324200,Carnegie Mellon University,Pittsburgh,PA,2013-10-31,299929,Contract,JAPAN,NaN
5976,5977,324200,Carnegie Mellon University,Pittsburgh,PA,2015-10-15,298000,Contract,SOUTH KOREA,NaN
6013,6014,324200,Carnegie Mellon University,Pittsburgh,PA,2013-09-10,295576,Contract,GERMANY,NaN
5458,5459,324200,Carnegie Mellon University,Pittsburgh,PA,2012-05-08,295000,Contract,BRITISH WEST INDIES,NaN
6204,6205,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-15,281037,Contract,FRANCE,NaN
5457,5458,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-30,280000,Monetary Gift,JAPAN,NaN
6246,6247,324200,Carnegie Mellon University,Pittsburgh,PA,2017-11-16,279334,Monetary Gift,RWANDA,NaN
6261,6262,324200,Carnegie Mellon University,Pittsburgh,PA,2017-02-14,278315,Monetary Gift,ENGLAND,NaN
6347,6348,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,273600,Contract,SOUTH KOREA,Korea Electronics Tech
6432,6433,324200,Carnegie Mellon University,Pittsburgh,PA,2015-05-05,267653,Contract,QATAR,Qatar National Research
6438,6439,324200,Carnegie Mellon University,Pittsburgh,PA,2012-03-01,267250,Contract,FRANCE,NaN
5456,5457,324200,Carnegie Mellon University,Pittsburgh,PA,2012-01-16,265000,Contract,SINGAPORE,NaN
6605,6606,324200,Carnegie Mellon University,Pittsburgh,PA,2012-07-01,257806,Contract,INDIA,NaN
5436,5437,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-01,250000,Monetary Gift,JAPAN,NaN
5448,5449,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-01,250000,Monetary Gift,JAPAN,NaN
5450,5451,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-29,250000,Contract,TAIWAN,NaN
5451,5452,324200,Carnegie Mellon University,Pittsburgh,PA,2014-10-28,250000,Contract,TAIWAN,"Fox Conn PCE Technology, Inc."
5452,5453,324200,Carnegie Mellon University,Pittsburgh,PA,2014-11-26,250000,Contract,CANADA,Franklin A. Lindsay
5453,5454,324200,Carnegie Mellon University,Pittsburgh,PA,2016-10-01,250000,Contract,JAPAN,NaN
5454,5455,324200,Carnegie Mellon University,Pittsburgh,PA,2017-11-01,250000,Contract,CHINA,NaN
5455,5456,324200,Carnegie Mellon University,Pittsburgh,PA,2017-12-04,250000,Monetary Gift,HONG KONG,NaN
5449,5450,324200,Carnegie Mellon University,Pittsburgh,PA,2014-01-14,250000,Contract,SOUTH KOREA,NaN

In [57]:
df['Gift Type'].unique()

array(['Contract', 'Monetary Gift', 'Real Estate'], dtype=object)

In [58]:
df[df['Gift Type'] =='Monetary Gift'].groupby(by='Institution Name').sum().sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Foreign Gift Amount
Institution Name,,,
Harvard University,1226042,57538500,729378154
Massachusetts Institute of Technology,2983834,79497000,582888432
Johns Hopkins University,9757106,244878300,447443471
Stanford University,6914711,80127000,305730258
Duke University,364041,27156000,242147330
Columbia University in the City of New York,2231733,93932900,146003397
New York University,834389,30635000,140389153
University of Pennsylvania,2172950,65871000,135399121
"University of California, Berkeley",1141368,13513600,132745273
Yale University,2772187,26381000,112274698
University of Southern California,1500742,14342400,93515219
Princeton University,2564240,62259900,87703904
University of Chicago (The),1576320,20933200,85710594
Purdue University,657960,19162500,73057384
"University of California, Los Angeles",51245569,405546000,68278363
Indiana University - Bloomington,113896,4160700,54437507
Texas A&M University,483765,22881600,52962278
Carnegie Mellon University,158289,10374400,48607650
Cornell University,329433,16266000,46584716
"University of California, San Diego",268542,2897400,46369084
California Institute of Technology,603654,24882000,46329743
University of Michigan - Ann Arbor,787125,12322500,41693490
Rice University,161710,5766400,40276864
Georgetown University,176752,4624000,38810081
University of Notre Dame,1061258,15640000,36506668
Dartmouth College,56720,2830300,33106565
Boston University,45115,6177000,32511324
New York Institute of Technology,9396,2503800,21012055
University of Illinois at Urbana-Champaign,149040,3727500,15793312
Arizona State University,7896,864800,15777478
Northwestern University,382359,7129900,15660791
George Washington University,151622,3754400,15607154
Babson College,100469,9756600,15372153
"University of California, Davis",237017,3676400,14416377
Georgia Institute of Technology,140795,3451800,14385944
Washington University in St. Louis,1008297,14868000,13296069
University of Kansas,504841,9155600,12217338
Soka University of America,170687,68659200,11064765
"University of California, Santa Barbara",573036,4356000,10713201
"University of California, Irvine",225936,2890800,10613843
University of Texas at Dallas,158023,13637400,10375553
Oregon State University,19024,2247000,9861145
Tufts University,126584,3550400,9739846
Ohio State University (The),326376,10815000,9127161
University of Wisconsin - Madison,265017,6232000,8959290
University of Pittsburgh - Pittsburgh,1748297,34803700,8769922
Indiana University - Purdue University Indianapolis,498383,10152800,8245780
"University of California, San Francisco",235869,1846600,7952116
Emory University,75526,2189600,7183643
Brown University,23421,5781700,7147306
American University (The),2861,1147200,6779400
MCPHS University,24844,1732000,6329640
Colorado State University,137835,3240000,6029762
Michigan State University,54007,1832000,6028517
University of Texas at Austin,737488,16095200,5489326
Graceland University,24050,1119600,5446412
Haverford College,219926,9167200,5104548
University of Virginia,454447,11609500,4881602
Wake Forest University,12022,893400,4747403
University of Texas Southwestern Medical Center (The),44203,10019000,4411102
Texas Tech University,28291,1093200,4250050
University of North Carolina - Chapel Hill,241087,4461000,3671914
University of Miami,165917,1536000,3627831
School of the Art Institute of Chicago,110576,1577700,3609972
Biola University,7391,448800,3463027
Middlebury College,86738,3691000,3253780
Marian University,12563,1158300,2767000
Bryant University,125643,11566800,2355670
University of Louisville,3709761,39380300,2073847
Westmont College,41889,268200,2000000
Smith College,246570,4638900,1952322
"University of California, Santa Cruz",71708,792600,1923172
Pennsylvania State University (The),46561,1997400,1828870
Worcester Polytechnic Institute,66177,893200,1500210
Gustavus Adolphus College,14119,470600,1500000
Saint John's University,36286,713700,1400000
Westminster Theological Seminary,4135201,68538600,1375144
Brigham Young University,1728,734000,1250000
Lincoln University,17285,658000,1199959
University of Oregon,22051,644600,1180000
University of Missouri - Columbia,24139,1006400,1162879
University of Washington - Seattle,23639,759600,1070369
Regis College,11654,220600,1000000
Belhaven University,831,239700,1000000
Corban University,13611,267800,850000
Amherst College,6263,423000,778723
Vanderbilt University,50070,1060500,769960
University of Tennessee,20450,353000,650000
University of Texas at El Paso,52743,1464400,629600
University of Colorado Boulder,103473,959000,601621
Juilliard School (The),8626,274200,540000
Ohio University,11168,310000,500000
Saint Louis University,24256,501200,500000
University of North Texas,3666,359400,499978
DePaul University,3818,167100,476485
University of Utah,69530,1470000,471066
Colgate University,5727,270100,400000
California Institute of Advanced Management,1103,4250600,375000
Polytechnic Institute of New York University,11207,279600,340000
University of Portland,20326,322400,300000
Mount Holyoke College,9615,219200,300000
Azusa Pacific University,286,111700,299980
University of Colorado Denver,807094,19384400,297509
Yeshiva University,5986,290300,297397
Bucknell University,6123,323800,288432
St. Lawrence University,12226,282900,262000
"Teachers College, Columbia University",446108,13130700,199196

In [59]:
df[(df['Gift Type']== 'Monetary Gift') | (df['Gift Type'] == 'Real Estate')].groupby(by='Country of Giftor').sum().sort_values(by='Foreign Gift Amount',ascending = False)

                                ID      OPEID  Foreign Gift Amount
Country of Giftor
ENGLAND                   19538295  263532100            544642697
HONG KONG                  9670309  146498900            531604426
CHINA                     12223881  189564800            323674776
CANADA                    14591015  190809700            254234892
INDIA                      1411529   37655000            207437329
SAUDI ARABIA               1181465   27775900            194561169
SINGAPORE                  2963986   49464400            187928579
SWITZERLAND                3958080   70362500            182383835
JAPAN                     11807546  163940200            174662195
FRANCE                     3257519   55428000            162727304
BRAZIL                      956425   27191500            121536901
RUSSIA                      393145    6142400             95026310
GERMANY                    2977581   43620700             83686491
TAIWAN                     3975404   53168200             78432977
QATAR                       666227   29595400             74621261
SWEDEN                      625925   16727200             73966303
SPAIN                      1778486   23813100             66513883
BERMUDA                     371833    9252600             56891877
SOUTH KOREA                2389332   46536400             54860626
UNITED ARAB EMIRATES        318625    9596200             50152823
MEXICO                      621376   15635300             47949784
KUWAIT                      259143    8765500             45888708
MALAYSIA                    354995   11217900             41051639
KAZAKHSTAN                  135227    5112200             36639149
TURKEY                      376158    9772100             35884336
THAILAND                    448602   10412900             35366267
NORWAY                      802420   17001200             31976474
KOREA                       723047   26083000             31262296
IRELAND                     319256    6859800             28420922
BAHAMAS                     331617    7607700             28282017
INDONESIA                   389856    7494700             26380938
BELGIUM                     316679    9026000             24879544
AUSTRALIA                  1965374   23585500             24187528
ITALY                      1486301   27555500             22279047
THE NETHERLANDS             701145   15087500             21766384
DENMARK                     267629   13200500             20563123
GREECE                      340953    6750200             20035605
JERSEY                       27286     783900             17882533
PERU                        293671    7180700             16726976
CHILE                       217446    5927100             15887297
SOUTH AFRICA                250629    6064500             15435401
ISRAEL                      797212   12219200             13726754
MONACO                      412267   11701400             13570864
COLOMBIA                    177477    5266700             12872498
LIECHTENSTEIN               134933    5236800             12053364
ZAMBIA                       26739    1666900              9091654
CYPRUS                       33141    1285200              7800050
VIRGIN ISLANDS (BRITISH)     36503    1258700              6720000
NIGERIA                     185583    3940500              6110592
PORTUGAL                    120488    3572900              5931363
TANZANIA                    209508    5153400              5902346
USA                          86342    3789800              5133980
BANGLADESH                  348272    8144400              4712443
LEBANON                     122813    3581400              4643001
BRITISH WEST INDIES          36303    1568000              4617000
GHANA                       254604    6065900              4336361
ISLE OF MAN                  15152     431000              4000000
ARGENTINA                   170510    2961700              3965425
AFGHANISTAN                  55288    1839100              3890364
NEW ZEALAND                 189863    3203000              3808744
AUSTRIA                     172482    3841800              3772945
BURMA                        11532     830800              2781683
EGYPT                       135792    2215400              2720885
EL SALVADOR                  54249    1125900              2275000
PHILIPPINES                 148810    2080500              2166552
LITHUANIA                    50055    1376900              2149946
VIETNAM                      65166    1504700              2051320
CURAçAO                      25926    1309600              2049606
OMAN                         10966     528700              1895686
HAITI                       161814    3323200              1811454
CZECH REPUBLIC               53257    1623700              1616508
PAKISTAN                     91872    1709000              1524721
PUERTO RICO                  63943    1330600              1516786
UGANDA                      158784    3407500              1514677
SCOTLAND                      7117     573900              1419824
SYRIAN ARAB REPUBLIC         22702     830800              1364702
RWANDA                       13600     609400              1340379
MALAWI                       32736     830800              1328118
HONDURAS                     25801     755500              1297130
POLAND                       55338    1269600              1161254
MOZAMBIQUE                   16648     623100              1071482
HUNGARY                      46919    1337200              1063556
PALESTINE, STATE OF          14662     431000              1050000
MARSHAL ISLANDS (THE)         1509     278500              1041666
CAYMAN ISLANDS (THE)         36803     579100              1000010
BAHRAIN                          5     286800              1000000
GUERNSEY                     41169     749000              1000000
LESOTHO                      22827     623100               848646
MAURITIUS                    17989     435600               825000
JORDAN                       63466     897000               771000
KENYA                        35942     830800               653803
IRAQ                         10688     591700               534427
UNITED NATIONS               24096     708400               507995
ROMANIA                        826     212100               440000
GUAM                         26593     623100               436500
FINLAND                      61763    1376400               423438
SWAZILAND                    44591     753200               402757
SERBIA                       43738     932100               352630
VENEZUELA                    34098     693900               311132
BOLIVIA                       6903     292000               300000
MOROCCO                      26543     415400               275010
URUGUAY                       6285     270700               250000
NAMIBIA                      19715     415400               216470
GUATEMALA                   120791    2877100               150925
PANAMA                       37177     615300               119990
BOSNIA-HERCEGOVINA           21835     415400               118892
WALES                        19639     232500               115000
ECUADOR                      33332     546900               100971
ETHIOPIA                     52506     830800                96385
SENEGAL                      23366     415400                80065
ZIMBABWE                     10716     207700                60301
BOSNIA AND HERZEGOVINA       26078     415400                56529
NEPAL                        12350     207700                27744
GEORGIA                      39888     830800                27127
AZERBAIJAN                   21134     415400                22516
JAMAICA                      33377     830800                18225
MALI                         45338     623100                16960
LUXEMBOURG                  115681    1430500                16796
TOKELAU                       8455     207700                 6000
TRINIDAD                     33020     623100                 1550
MADAGASCAR                    8432     207700                 1176
LIBERIA                      16774     207700                 1170
MALTA                        25001     623100                  914
COSTA RICA                   41673    1038500                  745
BULGARIA                     33192     830800                  665
ARMENIA                       8398     207700                  300
SLOVENIA                     16533     415400                  115
CEYLON                       16849     131500                  100
BELARUS                       8353     207700                  100
BARBADOS                      8359     207700                  100
IRAN                         16377     415400                   80
ICELAND                       8217     207700                   50
ST. LUCIA                     8248     207700                   50
LATVIA                        8197     207700                   50
CROATIA                       8166     207700                   26
DOMINICAN REPUBLIC            8164     207700                   25
SLOVAKIA                      8161     207700                   20
ERITREA                      14443     131500                    3

In [61]:
df.head()

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
0,1,324200,Carnegie Mellon University,Pittsburgh,PA,2015-01-01,77391377,Contract,QATAR,Qatar Foundation for Education
1,2,143400,American University (The),Washington,DC,2012-01-25,500000,Monetary Gift,BAHRAIN,Kingdom of Bahrain
2,3,143400,American University (The),Washington,DC,2013-05-28,500000,Monetary Gift,BAHRAIN,Sheikh Salman Bin Al-Khalifa
3,4,143400,American University (The),Washington,DC,2015-09-10,500000,Monetary Gift,KUWAIT,NaN
4,5,143400,American University (The),Washington,DC,2012-05-17,610000,Monetary Gift,ENGLAND,NaN

In [64]:
df[(df['Gift Type']=='Monetary Gift') & (df['Country of Giftor'] == 'ENGLAND')].sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
34,35,215500,Harvard University,Cambridge,MA,2018-01-01,29244118,Monetary Gift,ENGLAND,NaN
68,69,215500,Harvard University,Cambridge,MA,2017-01-01,18850441,Monetary Gift,ENGLAND,NaN
9594,9595,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-01-12,18000000,Monetary Gift,ENGLAND,STL PTC UK Limited
90,91,215500,Harvard University,Cambridge,MA,2017-07-01,14197900,Monetary Gift,ENGLAND,NaN
99,100,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-04-19,13000000,Monetary Gift,ENGLAND,SAMUEL TAK LEE CHAR TRUST
101,102,215500,Harvard University,Cambridge,MA,2016-07-01,12911271,Monetary Gift,ENGLAND,NaN
113,114,207700,Johns Hopkins University,Baltimore,MD,2018-12-01,11592482,Monetary Gift,ENGLAND,NaN
18847,18848,131500,"University of California, Los Angeles",Los Angeles,CA,2012-09-28,10000000,Monetary Gift,ENGLAND,Arcadia Trust
150,151,215500,Harvard University,Cambridge,MA,2015-01-01,9914155,Monetary Gift,ENGLAND,NaN
159,160,215500,Harvard University,Cambridge,MA,2018-07-01,9282950,Monetary Gift,ENGLAND,NaN
178,179,215500,Harvard University,Cambridge,MA,2016-01-01,8007693,Monetary Gift,ENGLAND,NaN
184,185,215500,Harvard University,Cambridge,MA,2014-07-01,7862459,Monetary Gift,ENGLAND,NaN
186,187,215500,Harvard University,Cambridge,MA,2014-01-01,7656465,Monetary Gift,ENGLAND,NaN
21051,21052,142600,Yale University,New Haven,CT,2012-09-14,7000000,Monetary Gift,ENGLAND,Charities Aid Foundation
214,215,207700,Johns Hopkins University,Baltimore,MD,2016-12-27,6682312,Monetary Gift,ENGLAND,NaN
215,216,215500,Harvard University,Cambridge,MA,2013-07-01,6656679,Monetary Gift,ENGLAND,NaN
223,224,215500,Harvard University,Cambridge,MA,2013-01-01,6389521,Monetary Gift,ENGLAND,NaN
262,263,207700,Johns Hopkins University,Baltimore,MD,2015-06-30,5451206,Monetary Gift,ENGLAND,NaN
18846,18847,131500,"University of California, Los Angeles",Los Angeles,CA,2014-03-28,5000000,Monetary Gift,ENGLAND,THE ARCADIA TRUST
14278,14279,131200,"University of California, Berkeley",Berkeley,CA,2014-03-04,5000000,Monetary Gift,ENGLAND,University of California Trust UK
326,327,215500,Harvard University,Cambridge,MA,2015-07-01,4845213,Monetary Gift,ENGLAND,NaN
9575,9576,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-01-12,4500000,Monetary Gift,ENGLAND,STL PTC UK Limited
9576,9577,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-01-12,4500000,Monetary Gift,ENGLAND,STL PTC UK Limited
357,358,215500,Harvard University,Cambridge,MA,2012-07-01,4374848,Monetary Gift,ENGLAND,NaN
19012,19013,177400,University of Chicago (The),Chicago,IL,2015-06-22,4000000,Monetary Gift,ENGLAND,NaN
19011,19012,177400,University of Chicago (The),Chicago,IL,2014-06-26,4000000,Monetary Gift,ENGLAND,NaN
11479,11480,262700,Princeton University,Princeton,NJ,2015-07-15,4000000,Monetary Gift,ENGLAND,NaN
19013,19014,177400,University of Chicago (The),Chicago,IL,2016-06-28,4000000,Monetary Gift,ENGLAND,NaN
19014,19015,177400,University of Chicago (The),Chicago,IL,2017-06-16,4000000,Monetary Gift,ENGLAND,NaN
9567,9568,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-01-14,4000000,Monetary Gift,ENGLAND,Samuel Tak Lee Char Trust
424,425,337800,University of Pennsylvania,Philadelphia,PA,2017-11-14,3869867,Monetary Gift,ENGLAND,Loulou Foundation
442,443,270700,Columbia University in the City of New York,New York,NY,2017-05-18,3665000,Monetary Gift,ENGLAND,Highland Group Holdings LTD
457,458,278500,New York University,New York,NY,2018-01-18,3503840,Monetary Gift,ENGLAND,Anonymous
9559,9560,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-01-14,3500000,Monetary Gift,ENGLAND,Samuel Tak Lee Char Trust
468,469,215500,Harvard University,Cambridge,MA,2012-01-01,3484797,Monetary Gift,ENGLAND,NaN
492,493,337800,University of Pennsylvania,Philadelphia,PA,2012-12-28,3297213,Monetary Gift,ENGLAND,University of Pennsylvania USA
11477,11478,262700,Princeton University,Princeton,NJ,2015-09-09,3200000,Monetary Gift,ENGLAND,Princeton Charitable Fnd. Ltd.
11478,11479,262700,Princeton University,Princeton,NJ,2016-04-12,3200000,Monetary Gift,ENGLAND,Princeton Charitable Fnd. Ltd.
516,517,130500,Stanford University,Stanford,CA,2018-06-04,3125000,Monetary Gift,ENGLAND,NaN
20672,20673,389500,University of Wisconsin - Madison,Madison,WI,2018-01-25,3000000,Monetary Gift,ENGLAND,Anonymous
9554,9555,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-01-12,3000000,Monetary Gift,ENGLAND,Samuel Tak Lee Char Trust
6800,6801,270700,Columbia University in the City of New York,New York,NY,2016-06-01,3000000,Monetary Gift,ENGLAND,Highland Group Holdings LTD
577,578,270700,Columbia University in the City of New York,New York,NY,2018-07-02,2999980,Monetary Gift,ENGLAND,The Irvine LaidLaw Foundation
579,580,337800,University of Pennsylvania,Philadelphia,PA,2014-11-28,2995337,Monetary Gift,ENGLAND,University of Pennsylvania USA
610,611,130500,Stanford University,Stanford,CA,2018-06-14,2750000,Monetary Gift,ENGLAND,NaN
643,644,182500,Purdue University,West Lafayette,IN,2015-03-26,2517951,Monetary Gift,ENGLAND,Rolls-Royce Inc
13493,13494,130500,Stanford University,Stanford,CA,2017-06-19,2500000,Monetary Gift,ENGLAND,NaN
669,670,130500,Stanford University,Stanford,CA,2016-04-15,2499982,Monetary Gift,ENGLAND,NaN
683,684,278500,New York University,New York,NY,2017-04-27,2467951,Monetary Gift,ENGLAND,Anonymous
687,688,262700,Princeton University,Princeton,NJ,2018-11-14,2450970,Monetary Gift,ENGLAND,NaN
702,703,131500,"University of California, Los Angeles",Los Angeles,CA,2012-12-20,2404130,Monetary Gift,ENGLAND,"Hufschmid, Hans"
723,724,278500,New York University,New York,NY,2016-09-02,2316095,Monetary Gift,ENGLAND,Anonymous
727,728,278500,New York University,New York,NY,2017-06-29,2290076,Monetary Gift,ENGLAND,Anonymous
732,733,337800,University of Pennsylvania,Philadelphia,PA,2016-03-21,2273495,Monetary Gift,ENGLAND,University of Pennsylvania USA
750,751,182500,Purdue University,West Lafayette,IN,2015-03-26,2205248,Monetary Gift,ENGLAND,Rolls-Royce Inc.
761,762,337800,University of Pennsylvania,Philadelphia,PA,2015-11-12,2159000,Monetary Gift,ENGLAND,University of Pennsylvania USA
763,764,262700,Princeton University,Princeton,NJ,2018-09-13,2145000,Monetary Gift,ENGLAND,NaN
770,771,207700,Johns Hopkins University,Baltimore,MD,2014-06-30,2117041,Monetary Gift,ENGLAND,NaN
773,774,262700,Princeton University,Princeton,NJ,2018-05-22,2110642,Monetary Gift,ENGLAND,NaN
13486,13487,130500,Stanford University,Stanford,CA,2015-04-23,2000000,Monetary Gift,ENGLAND,NaN
21046,21047,142600,Yale University,New Haven,CT,2018-06-26,2000000,Monetary Gift,ENGLAND,Anon. Donor #9
21045,21046,142600,Yale University,New Haven,CT,2018-06-26,2000000,Monetary Gift,ENGLAND,Anonymous #33
919,920,337800,University of Pennsylvania,Philadelphia,PA,2013-12-18,1889607,Monetary Gift,ENGLAND,University of Pennsylvania USA
954,955,292000,Duke University,Durham,NC,2018-07-01,1810068,Monetary Gift,ENGLAND,university of oxford
963,964,365800,University of Texas at Austin,Austin,TX,2018-02-22,1784410,Monetary Gift,ENGLAND,Charities Aid Foundation
1005,1006,207700,Johns Hopkins University,Baltimore,MD,2014-10-31,1677620,Monetary Gift,ENGLAND,NaN
19004,19005,177400,University of Chicago (The),Chicago,IL,2014-07-17,1634412,Monetary Gift,ENGLAND,NaN
1074,1075,337800,University of Pennsylvania,Philadelphia,PA,2017-12-01,1548594,Monetary Gift,ENGLAND,University of Pennsylvania USA
9525,9526,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-01-14,1500000,Monetary Gift,ENGLAND,Samuel Tak Lee Char Trust
1210,1211,132800,University of Southern California,Los Angeles,CA,2017-09-18,1374249,Monetary Gift,ENGLAND,NaN
1217,1218,207700,Johns Hopkins University,Baltimore,MD,2014-08-31,1360436,Monetary Gift,ENGLAND,NaN
1252,1253,262700,Princeton University,Princeton,NJ,2017-03-16,1312290,Monetary Gift,ENGLAND,Princeton Charitable Fnd. Ltd.
1278,1279,213000,Boston University,Boston,MA,2017-06-30,1285340,Monetary Gift,ENGLAND,Estate of Neville Rex Edwards Fenda
20008,20009,184000,University of Notre Dame,Notre Dame,IN,2017-12-22,1250000,Monetary Gift,ENGLAND,John Carl Hahn
1309,1310,131200,"University of California, Berkeley",Berkeley,CA,2017-05-04,1247725,Monetary Gift,ENGLAND,Cambridge University
1323,1324,142600,Yale University,New Haven,CT,2018-09-06,1230057,Monetary Gift,ENGLAND,Anonymous #16
1396,1397,207700,Johns Hopkins University,Baltimore,MD,2014-09-30,1146920,Monetary Gift,ENGLAND,NaN
1402,1403,207700,Johns Hopkins University,Baltimore,MD,2014-12-31,1140203,Monetary Gift,ENGLAND,NaN
1404,1405,252000,Washington University in St. Louis,St Louis,MO,2018-04-12,1138281,Monetary Gift,ENGLAND,Children's Investment Fund Fndtn
1416,1417,207700,Johns Hopkins University,Baltimore,MD,2013-11-30,1124883,Monetary Gift,ENGLAND,NaN
1434,1435,207700,Johns Hopkins University,Baltimore,MD,2014-05-31,1100991,Monetary Gift,ENGLAND,NaN
1439,1440,278500,New York University,New York,NY,2016-01-05,1099985,Monetary Gift,ENGLAND,Anonymous
1460,1461,177500,University of Illinois at Urbana-Champaign,Champaign,IL,2016-09-08,1077731,Monetary Gift,ENGLAND,Economic and Social Research Counci
1490,1491,132100,"University of California, Santa Cruz",Santa Cruz,CA,2014-09-01,1050780,Monetary Gift,ENGLAND,Intl Asc of Oil and Gas Producers
1491,1492,207700,Johns Hopkins University,Baltimore,MD,2014-07-31,1050737,Monetary Gift,ENGLAND,NaN
1548,1549,207700,Johns Hopkins University,Baltimore,MD,2013-09-30,1011622,Monetary Gift,ENGLAND,NaN
1561,1562,131500,"University of California, Los Angeles",Los Angeles,CA,2012-01-13,1005597,Monetary Gift,ENGLAND,NaN
1564,1565,262700,Princeton University,Princeton,NJ,2016-02-18,1003483,Monetary Gift,ENGLAND,Princeton Charitable Fnd. Ltd.
13471,13472,130500,Stanford University,Stanford,CA,2018-09-07,1000000,Monetary Gift,ENGLAND,NaN
13468,13469,130500,Stanford University,Stanford,CA,2018-06-15,1000000,Monetary Gift,ENGLAND,NaN
5,6,143400,American University (The),Washington,DC,2014-04-24,1000000,Monetary Gift,ENGLAND,Anonymous
13467,13468,130500,Stanford University,Stanford,CA,2018-06-15,1000000,Monetary Gift,ENGLAND,NaN
11645,11646,182500,Purdue University,West Lafayette,IN,2016-06-20,1000000,Monetary Gift,ENGLAND,Glaxo Smith Kline
11469,11470,262700,Princeton University,Princeton,NJ,2015-03-19,1000000,Monetary Gift,ENGLAND,Princeton Charitable Fnd. Ltd.
18842,18843,131500,"University of California, Los Angeles",Los Angeles,CA,2013-10-17,1000000,Monetary Gift,ENGLAND,Charities Aid Foundation The Arcadi
18841,18842,131500,"University of California, Los Angeles",Los Angeles,CA,2012-09-04,1000000,Monetary Gift,ENGLAND,Arcadia Trust
20109,20110,337800,University of Pennsylvania,Philadelphia,PA,2013-12-19,1000000,Monetary Gift,ENGLAND,Sapp Family foundation
21037,21038,142600,Yale University,New Haven,CT,2012-12-11,1000000,Monetary Gift,ENGLAND,Pyotr O. Aven
21036,21037,142600,Yale University,New Haven,CT,2012-10-18,1000000,Monetary Gift,ENGLAND,Arcadia Fund
21035,21036,142600,Yale University,New Haven,CT,2012-10-18,1000000,Monetary Gift,ENGLAND,Arcadia
...,...,...,...,...,...,...,...,...,...,...
14855,14856,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14856,14857,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Chau, Siu Fung"
14857,14858,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Wright, Andrew C."
14858,14859,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Foch Esq., Dirk Jacob"
14862,14863,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Foch-Lechowski, Kasia"
14863,14864,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Mas, Sylvia Lynnette"
14864,14865,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"SWANN, CHARLES WILLIAM EDWARD"
14865,14866,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Pitts, John Lawrence"
14867,14868,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Wirth, Anthony James"
14868,14869,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Landis, Sarah Henry"
14869,14870,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Lelièvre, Pierre"
14852,14853,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,12,Monetary Gift,ENGLAND,"Rubandhas, Samprabhu"
14844,14845,131500,"University of California, Los Angeles",Los Angeles,CA,2014-10-01,11,Monetary Gift,ENGLAND,"Anderson Ph.D., Jodi Lynette"
14849,14850,131500,"University of California, Los Angeles",Los Angeles,CA,2016-11-01,11,Monetary Gift,ENGLAND,"BAILEY QC, DAVID JOHN"
14848,14849,131500,"University of California, Los Angeles",Los Angeles,CA,2015-09-01,11,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14847,14848,131500,"University of California, Los Angeles",Los Angeles,CA,2015-09-01,11,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14846,14847,131500,"University of California, Los Angeles",Los Angeles,CA,2015-05-01,11,Monetary Gift,ENGLAND,"Daines Ph.D., Matthew"
14845,14846,131500,"University of California, Los Angeles",Los Angeles,CA,2015-05-01,11,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14777,14778,131500,"University of California, Los Angeles",Los Angeles,CA,2014-09-01,10,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14784,14785,131500,"University of California, Los Angeles",Los Angeles,CA,2015-09-29,10,Monetary Gift,ENGLAND,"PAINTER, LYNNE MAREE"
14833,14834,131500,"University of California, Los Angeles",Los Angeles,CA,2018-03-11,10,Monetary Gift,ENGLAND,"Strauss, Michael Eugene"
14776,14777,131500,"University of California, Los Angeles",Los Angeles,CA,2014-08-20,10,Monetary Gift,ENGLAND,"Painter, Lynne Maree"
14815,14816,131500,"University of California, Los Angeles",Los Angeles,CA,2017-10-26,10,Monetary Gift,ENGLAND,"Cunningham, James"
14814,14815,131500,"University of California, Los Angeles",Los Angeles,CA,2017-10-11,10,Monetary Gift,ENGLAND,"France, David"
14786,14787,131500,"University of California, Los Angeles",Los Angeles,CA,2016-08-27,10,Monetary Gift,ENGLAND,"MCKERNAN, LACY"
14785,14786,131500,"University of California, Los Angeles",Los Angeles,CA,2016-05-02,10,Monetary Gift,ENGLAND,"Topping, Gregory"
14768,14769,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,9,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14769,14770,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,9,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14701,14702,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Kluth, Marie Ann"
14689,14690,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Ross Martin Esq., David"
14690,14691,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Brug Ph.D., Peary"
14700,14701,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Swann, Charles William Edward"
14717,14718,131500,"University of California, Los Angeles",Los Angeles,CA,2014-08-01,8,Monetary Gift,ENGLAND,"Landis, Sarah Henry"
14702,14703,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Lewisohn, Jane"
14706,14707,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Ho, Trang Hoai"
14711,14712,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-30,8,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14760,14761,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-18,8,Monetary Gift,ENGLAND,"Gui, Haoran"
14733,14734,131500,"University of California, Los Angeles",Los Angeles,CA,2014-10-01,8,Monetary Gift,ENGLAND,"Bailey-Gates, Chris Stephen"
14732,14733,131500,"University of California, Los Angeles",Los Angeles,CA,2014-09-01,8,Monetary Gift,ENGLAND,"Daines Ph.D., Matthew"
14712,14713,131500,"University of California, Los Angeles",Los Angeles,CA,2014-08-01,8,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14716,14717,131500,"University of California, Los Angeles",Los Angeles,CA,2014-08-01,8,Monetary Gift,ENGLAND,"Soni, Sana"
14713,14714,131500,"University of California, Los Angeles",Los Angeles,CA,2014-08-01,8,Monetary Gift,ENGLAND,"Daines Ph.D., Matthew"
14705,14706,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-13,8,Monetary Gift,ENGLAND,"Soni, Sana"
14626,14627,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14625,14626,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14652,14653,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-01,7,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14637,14638,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14638,14639,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"KLUTH, MARIE ANN"
14655,14656,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-09,7,Monetary Gift,ENGLAND,"WILSON-HIGGINS, SUZANNE"
14654,14655,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-01,7,Monetary Gift,ENGLAND,"DAINES PHD, MATTHEW"
14650,14651,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"DAINES PH.D, MATTHEW"
14651,14652,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14653,14654,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-01,7,Monetary Gift,ENGLAND,"Shields Ph.D., Robin Alexander"
14649,14650,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,7,Monetary Gift,ENGLAND,"SHIELDS PH.D, ROBIN ALEXANDER"
14618,14619,131500,"University of California, Los Angeles",Los Angeles,CA,2015-02-01,6,Monetary Gift,ENGLAND,"Bailey QC, David John"
14617,14618,131500,"University of California, Los Angeles",Los Angeles,CA,2015-02-01,6,Monetary Gift,ENGLAND,"Kluth, Marie Ann"
14619,14620,131500,"University of California, Los Angeles",Los Angeles,CA,2015-02-01,6,Monetary Gift,ENGLAND,"Kasson, Madeleine Claire"
14620,14621,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-01,6,Monetary Gift,ENGLAND,"SWANN, CHARLES WILLIAM EDWARD"
14621,14622,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,6,Monetary Gift,ENGLAND,"Anderson Ph.D., Jodi Lynette"
14622,14623,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-01,6,Monetary Gift,ENGLAND,"Field, Chris"
14623,14624,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-09,6,Monetary Gift,ENGLAND,"DAINES PH.D., MATTHEW"
19389,19390,199900,University of Louisville,Louisville,KY,2015-11-11,5,Monetary Gift,ENGLAND,Eszter Lanyi
1104,1105,113100,California Institute of Technology,Pasadena,CA,2015-09-29,5,Monetary Gift,ENGLAND,"Porter, Mason A."
19390,19391,199900,University of Louisville,Louisville,KY,2017-02-06,5,Monetary Gift,ENGLAND,Mr. Joe Hogan
14533,14534,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-13,5,Monetary Gift,ENGLAND,"Murray, Fiona"
14530,14531,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-09,5,Monetary Gift,ENGLAND,"GOSS, CHRIS"

In [65]:
df[(df['Gift Type']=='Monetary Gift') & (df['Country of Giftor'] == 'HONG KONG')].sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
41,42,215500,Harvard University,Cambridge,MA,2016-01-01,26100000,Monetary Gift,HONG KONG,NaN
44,45,215500,Harvard University,Cambridge,MA,2017-01-01,25525075,Monetary Gift,HONG KONG,NaN
69,70,215500,Harvard University,Cambridge,MA,2015-01-01,18740593,Monetary Gift,HONG KONG,NaN
7596,7597,215500,Harvard University,Cambridge,MA,2013-07-01,18000000,Monetary Gift,HONG KONG,NaN
77,78,215500,Harvard University,Cambridge,MA,2015-07-01,16650000,Monetary Gift,HONG KONG,NaN
87,88,142600,Yale University,New Haven,CT,2018-12-19,14450000,Monetary Gift,HONG KONG,Anonymous #24
14310,14311,131200,"University of California, Berkeley",Berkeley,CA,2012-02-26,12000000,Monetary Gift,HONG KONG,Li Ka-shing (Canada) Foundation
119,120,132800,University of Southern California,Los Angeles,CA,2014-12-19,11000000,Monetary Gift,HONG KONG,NaN
123,124,215500,Harvard University,Cambridge,MA,2018-01-01,10881834,Monetary Gift,HONG KONG,NaN
128,129,142600,Yale University,New Haven,CT,2018-06-21,10450000,Monetary Gift,HONG KONG,Anon. Donor #8
170,171,215500,Harvard University,Cambridge,MA,2017-07-01,8724993,Monetary Gift,HONG KONG,NaN
225,226,215500,Harvard University,Cambridge,MA,2018-07-01,6366854,Monetary Gift,HONG KONG,NaN
270,271,215500,Harvard University,Cambridge,MA,2016-07-01,5300000,Monetary Gift,HONG KONG,NaN
9583,9584,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-06-11,5000000,Monetary Gift,HONG KONG,MA HUATENG FOUNDATION LIMITED
13502,13503,130500,Stanford University,Stanford,CA,2015-11-13,5000000,Monetary Gift,HONG KONG,NaN
6803,6804,270700,Columbia University in the City of New York,New York,NY,2018-06-27,5000000,Monetary Gift,HONG KONG,Goldenway Education Foundation Limi
9728,9729,278500,New York University,New York,NY,2014-11-04,5000000,Monetary Gift,HONG KONG,Mr. Wenliang Wang
20441,20442,132800,University of Southern California,Los Angeles,CA,2017-12-13,5000000,Monetary Gift,HONG KONG,NaN
9585,9586,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-12-07,5000000,Monetary Gift,HONG KONG,NaN
9580,9581,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-01-12,5000000,Monetary Gift,HONG KONG,Mr. David Pun Chan
13505,13506,130500,Stanford University,Stanford,CA,2018-09-04,5000000,Monetary Gift,HONG KONG,NaN
13504,13505,130500,Stanford University,Stanford,CA,2018-08-16,5000000,Monetary Gift,HONG KONG,NaN
319,320,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-05-04,4984404,Monetary Gift,HONG KONG,MIT HONG KONG FOUNDATION LIMITED
346,347,215500,Harvard University,Cambridge,MA,2014-01-01,4510326,Monetary Gift,HONG KONG,NaN
362,363,215500,Harvard University,Cambridge,MA,2014-07-01,4300000,Monetary Gift,HONG KONG,NaN
20438,20439,132800,University of Southern California,Los Angeles,CA,2016-12-15,4000000,Monetary Gift,HONG KONG,NaN
14276,14277,131200,"University of California, Berkeley",Berkeley,CA,2014-03-18,4000000,Monetary Gift,HONG KONG,Li Ka Shing (Canada) Foundation
13501,13502,130500,Stanford University,Stanford,CA,2016-03-15,4000000,Monetary Gift,HONG KONG,NaN
488,489,215500,Harvard University,Cambridge,MA,2012-01-01,3332870,Monetary Gift,HONG KONG,NaN
535,536,215500,Harvard University,Cambridge,MA,2013-01-01,3005877,Monetary Gift,HONG KONG,NaN
9557,9558,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-06-15,3000000,Monetary Gift,HONG KONG,GOLDENWAY EDUCATION FOUNDATION LTD.
13499,13500,130500,Stanford University,Stanford,CA,2017-04-27,3000000,Monetary Gift,HONG KONG,NaN
13500,13501,130500,Stanford University,Stanford,CA,2017-05-23,3000000,Monetary Gift,HONG KONG,NaN
6977,6978,144500,Georgetown University,Washington,DC,2016-02-23,3000000,Monetary Gift,HONG KONG,Winston Zee
14246,14247,131200,"University of California, Berkeley",Berkeley,CA,2016-03-30,3000000,Monetary Gift,HONG KONG,Li Ka Shing Foundation
608,609,215500,Harvard University,Cambridge,MA,2012-07-01,2778904,Monetary Gift,HONG KONG,NaN
623,624,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-05-30,2658429,Monetary Gift,HONG KONG,Hong Kong Jockey Club Charities Tru
9549,9550,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-05-04,2500000,Monetary Gift,HONG KONG,MIT HONG KONG FOUNDATION LIMITED
14240,14241,131200,"University of California, Berkeley",Berkeley,CA,2012-02-29,2500000,Monetary Gift,HONG KONG,"Chung, Leslie W K & Wilfred W"
693,694,271100,Cornell University,Ithaca,NY,2015-12-21,2421400,Monetary Gift,HONG KONG,Martin Yue-Nien Tang
20431,20432,132800,University of Southern California,Los Angeles,CA,2016-01-25,2400000,Monetary Gift,HONG KONG,NaN
756,757,337800,University of Pennsylvania,Philadelphia,PA,2018-06-12,2190000,Monetary Gift,HONG KONG,University of Pennsylvania HK
808,809,177400,University of Chicago (The),Chicago,IL,2017-12-22,2000025,Monetary Gift,HONG KONG,NaN
14227,14228,131200,"University of California, Berkeley",Berkeley,CA,2015-03-23,2000000,Monetary Gift,HONG KONG,Li Ka Shing
9719,9720,278500,New York University,New York,NY,2016-03-14,2000000,Monetary Gift,HONG KONG,Anonymous
20118,20119,337800,University of Pennsylvania,Philadelphia,PA,2017-06-27,2000000,Monetary Gift,HONG KONG,Turbo Chancel TD
13483,13484,130500,Stanford University,Stanford,CA,2012-12-21,2000000,Monetary Gift,HONG KONG,NaN
13484,13485,130500,Stanford University,Stanford,CA,2013-12-23,2000000,Monetary Gift,HONG KONG,NaN
13485,13486,130500,Stanford University,Stanford,CA,2014-12-29,2000000,Monetary Gift,HONG KONG,NaN
13488,13489,130500,Stanford University,Stanford,CA,2015-12-29,2000000,Monetary Gift,HONG KONG,NaN
13490,13491,130500,Stanford University,Stanford,CA,2018-03-21,2000000,Monetary Gift,HONG KONG,NaN
19006,19007,177400,University of Chicago (The),Chicago,IL,2014-06-13,2000000,Monetary Gift,HONG KONG,NaN
19005,19006,177400,University of Chicago (The),Chicago,IL,2013-12-31,2000000,Monetary Gift,HONG KONG,NaN
18843,18844,131500,"University of California, Los Angeles",Los Angeles,CA,2013-02-21,2000000,Monetary Gift,HONG KONG,"Li, Walton Wai-Tat"
21044,21045,142600,Yale University,New Haven,CT,2012-12-11,2000000,Monetary Gift,HONG KONG,Joseph C. Tsai
943,944,340100,Brown University,Providence,RI,2018-05-23,2000000,Monetary Gift,HONG KONG,Chung Kiu Cheung
885,886,337800,University of Pennsylvania,Philadelphia,PA,2017-09-20,1975000,Monetary Gift,HONG KONG,University of Pennsylvania HK
14218,14219,131200,"University of California, Berkeley",Berkeley,CA,2013-12-03,1900000,Monetary Gift,HONG KONG,Cau Hoi Shuen Foundation
9715,9716,278500,New York University,New York,NY,2018-02-22,1800000,Monetary Gift,HONG KONG,Anonymous
9714,9715,278500,New York University,New York,NY,2017-04-11,1700000,Monetary Gift,HONG KONG,Anonymous
1000,1001,142600,Yale University,New Haven,CT,2018-06-27,1686334,Monetary Gift,HONG KONG,Anonymous #34
1036,1037,271100,Cornell University,Ithaca,NY,2015-06-30,1614550,Monetary Gift,HONG KONG,Martin Yue-Nien Tang
1053,1054,262700,Princeton University,Princeton,NJ,2017-06-01,1580000,Monetary Gift,HONG KONG,NaN
1090,1091,177400,University of Chicago (The),Chicago,IL,2015-12-31,1515152,Monetary Gift,HONG KONG,NaN
13477,13478,130500,Stanford University,Stanford,CA,2018-01-31,1500000,Monetary Gift,HONG KONG,NaN
13478,13479,130500,Stanford University,Stanford,CA,2018-01-31,1500000,Monetary Gift,HONG KONG,NaN
20426,20427,132800,University of Southern California,Los Angeles,CA,2017-03-10,1450000,Monetary Gift,HONG KONG,NaN
1176,1177,337800,University of Pennsylvania,Philadelphia,PA,2016-12-07,1446000,Monetary Gift,HONG KONG,University of Pennsylvania HK
19000,19001,177400,University of Chicago (The),Chicago,IL,2015-11-28,1400000,Monetary Gift,HONG KONG,NaN
1259,1260,232500,University of Michigan - Ann Arbor,Ann Arbor,MI,2016-08-16,1300779,Monetary Gift,HONG KONG,Wai-Jun Chan
1315,1316,130500,Stanford University,Stanford,CA,2017-12-19,1240000,Monetary Gift,HONG KONG,NaN
20007,20008,184000,University of Notre Dame,Notre Dame,IN,2018-03-09,1125000,Monetary Gift,HONG KONG,Lu Sun
1498,1499,271100,Cornell University,Ithaca,NY,2016-12-21,1049550,Monetary Gift,HONG KONG,Martin Yue-Nien Tang
1512,1513,337800,University of Pennsylvania,Philadelphia,PA,2015-09-23,1035806,Monetary Gift,HONG KONG,University of Pennsylvania HK
20423,20424,132800,University of Southern California,Los Angeles,CA,2013-09-13,1020000,Monetary Gift,HONG KONG,Corporation
6887,6888,271100,Cornell University,Ithaca,NY,2013-12-23,1010000,Monetary Gift,HONG KONG,Martin Ye-Nien Tang
10179,10180,173900,Northwestern University,Evanston,IL,2018-02-13,1000050,Monetary Gift,HONG KONG,New Horizon Capital Advisors Ltd.
10167,10168,173900,Northwestern University,Evanston,IL,2017-05-24,1000050,Monetary Gift,HONG KONG,New Horizon Capital Advisors Ltd.
1570,1571,270700,Columbia University in the City of New York,New York,NY,2016-07-06,1000020,Monetary Gift,HONG KONG,Ng Teng Fong Charitable Foundation
19840,19841,232500,University of Michigan - Ann Arbor,Ann Arbor,MI,2017-12-06,1000000,Monetary Gift,HONG KONG,Polly Suk-Yee Cheung
21042,21043,142600,Yale University,New Haven,CT,2018-12-14,1000000,Monetary Gift,HONG KONG,Anonymous #41
11471,11472,262700,Princeton University,Princeton,NJ,2015-11-15,1000000,Monetary Gift,HONG KONG,NaN
10166,10167,173900,Northwestern University,Evanston,IL,2018-12-04,1000000,Monetary Gift,HONG KONG,New Horizon Capital Advisors Ltd.
21040,21041,142600,Yale University,New Haven,CT,2018-04-24,1000000,Monetary Gift,HONG KONG,Anonymous #29
9481,9482,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-06-13,1000000,Monetary Gift,HONG KONG,LITTLE BLUEBRIDGE FOUNDATION
9483,9484,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-06-15,1000000,Monetary Gift,HONG KONG,GOLDENWAY EDUCATION FOUNDATION LTD.
13400,13401,130500,Stanford University,Stanford,CA,2015-04-17,1000000,Monetary Gift,HONG KONG,NaN
9480,9481,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-05-04,1000000,Monetary Gift,HONG KONG,MIT HONG KONG FOUNDATION LIMITED
9475,9476,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-01-22,1000000,Monetary Gift,HONG KONG,CHAU HOI SHUEN FOUNDATION
9442,9443,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-07-19,1000000,Monetary Gift,HONG KONG,CHAU HOI SHUEN FOUNDATION
9388,9389,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-04-28,1000000,Monetary Gift,HONG KONG,Harriet and C.C Tung Foundation
9387,9388,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-01-27,1000000,Monetary Gift,HONG KONG,Mr. David S. Wong
9349,9350,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-04-05,1000000,Monetary Gift,HONG KONG,Individual
7620,7621,327400,Haverford College,Haverford,PA,2018-06-05,1000000,Monetary Gift,HONG KONG,Andrew F. Pleatman
6973,6974,144500,Georgetown University,Washington,DC,2016-06-21,1000000,Monetary Gift,HONG KONG,Spring Breeze Foundation
6971,6972,144500,Georgetown University,Washington,DC,2015-01-15,1000000,Monetary Gift,HONG KONG,Tung Foundation
11653,11654,220600,Regis College,Weston,MA,2017-09-29,1000000,Monetary Gift,HONG KONG,Dr. Victor K. Fung
13466,13467,130500,Stanford University,Stanford,CA,2018-05-31,1000000,Monetary Gift,HONG KONG,NaN
13414,13415,130500,Stanford University,Stanford,CA,2016-04-05,1000000,Monetary Gift,HONG KONG,NaN
13456,13457,130500,Stanford University,Stanford,CA,2017-01-24,1000000,Monetary Gift,HONG KONG,NaN
...,...,...,...,...,...,...,...,...,...,...
17067,17068,131500,"University of California, Los Angeles",Los Angeles,CA,2013-12-27,200,Monetary Gift,HONG KONG,"Chan, Kenneth Kwai-Shing"
17072,17073,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-19,200,Monetary Gift,HONG KONG,"Lee, Mun Yee"
17077,17078,131500,"University of California, Los Angeles",Los Angeles,CA,2014-10-08,200,Monetary Gift,HONG KONG,"Chow, Kwok Wing"
17097,17098,131500,"University of California, Los Angeles",Los Angeles,CA,2015-11-03,200,Monetary Gift,HONG KONG,"LEE, MUN YEE"
17112,17113,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-15,200,Monetary Gift,HONG KONG,"PAK, STEVE"
17114,17115,131500,"University of California, Los Angeles",Los Angeles,CA,2017-10-17,200,Monetary Gift,HONG KONG,"ZHU, JUN"
17117,17118,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-10,200,Monetary Gift,HONG KONG,"Chow, Kwok Wing"
20880,20881,339300,Westminster Theological Seminary,Glenside,PA,2017-03-30,200,Monetary Gift,HONG KONG,Wai Sze Chu
17081,17082,131500,"University of California, Los Angeles",Los Angeles,CA,2014-12-15,200,Monetary Gift,HONG KONG,"Chan, Kenneth Kwai-Shing"
20875,20876,339300,Westminster Theological Seminary,Glenside,PA,2016-12-26,160,Monetary Gift,HONG KONG,Wai Sze Chu
16946,16947,131500,"University of California, Los Angeles",Los Angeles,CA,2012-10-19,147,Monetary Gift,HONG KONG,Research Grants Council of Hong Kon
16930,16931,131500,"University of California, Los Angeles",Los Angeles,CA,2016-03-29,125,Monetary Gift,HONG KONG,"Suen, Yiu-Tung"
16917,16918,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-10,120,Monetary Gift,HONG KONG,"Chan, Derrick"
16263,16264,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-15,100,Monetary Gift,HONG KONG,"Chan, Wai Yip"
16633,16634,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-18,100,Monetary Gift,HONG KONG,"Lu, Yang"
16531,16532,131500,"University of California, Los Angeles",Los Angeles,CA,2015-06-28,100,Monetary Gift,HONG KONG,"Sklenar PhD, Dominik"
16497,16498,131500,"University of California, Los Angeles",Los Angeles,CA,2015-04-01,100,Monetary Gift,HONG KONG,"Hunter, Gregor Stuart"
16432,16433,131500,"University of California, Los Angeles",Los Angeles,CA,2014-11-16,100,Monetary Gift,HONG KONG,"Lam, Cindy Yip"
16405,16406,131500,"University of California, Los Angeles",Los Angeles,CA,2014-07-01,100,Monetary Gift,HONG KONG,"Wang, Xiao Tina"
16401,16402,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-27,100,Monetary Gift,HONG KONG,"Sklenar Ph.D., Dominik"
16381,16382,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-15,100,Monetary Gift,HONG KONG,"Fuqua, Joseph Ben"
16367,16368,131500,"University of California, Los Angeles",Los Angeles,CA,2014-02-05,100,Monetary Gift,HONG KONG,"Chan, Wai Yip"
16264,16265,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-15,100,Monetary Gift,HONG KONG,"Chan, Wai Yip"
16364,16365,131500,"University of California, Los Angeles",Los Angeles,CA,2013-12-30,100,Monetary Gift,HONG KONG,"Jacobsen, Russell James"
16340,16341,131500,"University of California, Los Angeles",Los Angeles,CA,2013-11-18,100,Monetary Gift,HONG KONG,"Chow, Kwok Wing\t"
16336,16337,131500,"University of California, Los Angeles",Los Angeles,CA,2013-07-14,100,Monetary Gift,HONG KONG,"Winegar Esq., Steven David"
16335,16336,131500,"University of California, Los Angeles",Los Angeles,CA,2013-06-30,100,Monetary Gift,HONG KONG,"Sklenar, Dominik"
16280,16281,131500,"University of California, Los Angeles",Los Angeles,CA,2013-04-29,100,Monetary Gift,HONG KONG,"Winegar, Steven"
16274,16275,131500,"University of California, Los Angeles",Los Angeles,CA,2013-04-19,100,Monetary Gift,HONG KONG,"Goldberg, Adam"
16632,16633,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-13,100,Monetary Gift,HONG KONG,"Penaloza, Philip Ong"
16784,16785,131500,"University of California, Los Angeles",Los Angeles,CA,2017-12-15,100,Monetary Gift,HONG KONG,"Jang, Heesu"
16634,16635,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-25,100,Monetary Gift,HONG KONG,"Sanussi, Wenda"
16701,16702,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-21,100,Monetary Gift,HONG KONG,"HO, PAUL"
16650,16651,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-27,100,Monetary Gift,HONG KONG,"Sklenar Ph.D. Esq., Dominik"
16808,16809,131500,"University of California, Los Angeles",Los Angeles,CA,2018-02-10,100,Monetary Gift,HONG KONG,"Ching, Ellena"
16779,16780,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-16,100,Monetary Gift,HONG KONG,"Jang, Heesu"
16775,16776,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-14,100,Monetary Gift,HONG KONG,"Woo, Peter Pui-Ngai"
16751,16752,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-27,100,Monetary Gift,HONG KONG,"SKLENAR PHD. ESQ., DOMINIK"
16732,16733,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-28,100,Monetary Gift,HONG KONG,"MUI, SAMUEL"
16711,16712,131500,"University of California, Los Angeles",Los Angeles,CA,2017-03-08,100,Monetary Gift,HONG KONG,"CHAN, DERRICK"
16704,16705,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-28,100,Monetary Gift,HONG KONG,"TSANG, MEE LAM"
16753,16754,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-29,100,Monetary Gift,HONG KONG,"WANG, XIAO TINA"
16699,16700,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-21,100,Monetary Gift,HONG KONG,"HUNG, RICKY"
16698,16699,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-21,100,Monetary Gift,HONG KONG,"LEUNG, THOMAS"
16697,16698,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-20,100,Monetary Gift,HONG KONG,"YIU, JAMES"
16693,16694,131500,"University of California, Los Angeles",Los Angeles,CA,2017-01-31,100,Monetary Gift,HONG KONG,"LAM, LOUISA"
16652,16653,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-29,100,Monetary Gift,HONG KONG,"Wang, Xiao"
16854,16855,131500,"University of California, Los Angeles",Los Angeles,CA,2018-04-24,100,Monetary Gift,HONG KONG,"Schulte, Paul"
16863,16864,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-23,100,Monetary Gift,HONG KONG,"Jacobsen, Russell James"
16889,16890,131500,"University of California, Los Angeles",Los Angeles,CA,2018-06-29,100,Monetary Gift,HONG KONG,"Sklenar Ph.D. Esq., Dominik"
16187,16188,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-27,75,Monetary Gift,HONG KONG,"LUI, SUET CHUNG"
16129,16130,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-21,65,Monetary Gift,HONG KONG,"Chow, Vivian"
16134,16135,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-29,65,Monetary Gift,HONG KONG,"Chow, Vivian"
16152,16153,131500,"University of California, Los Angeles",Los Angeles,CA,2018-03-04,65,Monetary Gift,HONG KONG,"Chung, Teri"
16108,16109,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-28,60,Monetary Gift,HONG KONG,"Campbell, Cameron"
15754,15755,131500,"University of California, Los Angeles",Los Angeles,CA,2013-06-28,50,Monetary Gift,HONG KONG,"Hawkins, Richard"
15789,15790,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-29,50,Monetary Gift,HONG KONG,"Hawkins Esq., Richard John"
15793,15794,131500,"University of California, Los Angeles",Los Angeles,CA,2014-07-31,50,Monetary Gift,HONG KONG,"Kwok, Gary"
15814,15815,131500,"University of California, Los Angeles",Los Angeles,CA,2014-11-20,50,Monetary Gift,HONG KONG,"Ko, Nikki MIng Wai"
15817,15818,131500,"University of California, Los Angeles",Los Angeles,CA,2014-11-20,50,Monetary Gift,HONG KONG,"Ko, Nikki MIng Wai"
15934,15935,131500,"University of California, Los Angeles",Los Angeles,CA,2016-03-17,50,Monetary Gift,HONG KONG,"Jacobsen, Russell James"
15889,15890,131500,"University of California, Los Angeles",Los Angeles,CA,2015-11-09,50,Monetary Gift,HONG KONG,"SCHULTE, PAUL"
15878,15879,131500,"University of California, Los Angeles",Los Angeles,CA,2015-08-30,50,Monetary Gift,HONG KONG,"KIM PH.D, MINKU"
15976,15977,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-09,50,Monetary Gift,HONG KONG,"LIANG, PHOEBE"

In [66]:
df[(df['Gift Type']=='Monetary Gift') & (df['Country of Giftor'] == 'CHINA')].sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
66,67,215500,Harvard University,Cambridge,MA,2018-01-01,19900000,Monetary Gift,CHINA,NaN
114,115,278500,New York University,New York,NY,2018-11-28,11345516,Monetary Gift,CHINA,Anonymous
130,131,215500,Harvard University,Cambridge,MA,2014-01-01,10250000,Monetary Gift,CHINA,NaN
13507,13508,130500,Stanford University,Stanford,CA,2018-08-08,10000000,Monetary Gift,CHINA,NaN
153,154,278500,New York University,New York,NY,2016-01-11,9516904,Monetary Gift,CHINA,Anonymous
185,186,215500,Harvard University,Cambridge,MA,2016-07-01,7662776,Monetary Gift,CHINA,NaN
229,230,215500,Harvard University,Cambridge,MA,2015-07-01,6125000,Monetary Gift,CHINA,NaN
21049,21050,142600,Yale University,New Haven,CT,2018-04-09,4933450,Monetary Gift,CHINA,Anonymous #11
21050,21051,142600,Yale University,New Haven,CT,2018-04-09,4933450,Monetary Gift,CHINA,Anon. Donor #1
7589,7590,215500,Harvard University,Cambridge,MA,2018-07-01,4750000,Monetary Gift,CHINA,NaN
6891,6892,271100,Cornell University,Ithaca,NY,2015-09-10,4000000,Monetary Gift,CHINA,Gang Yu
430,431,278500,New York University,New York,NY,2016-06-29,3811789,Monetary Gift,CHINA,Anonymous
11476,11477,262700,Princeton University,Princeton,NJ,2017-11-15,3000000,Monetary Gift,CHINA,"Ma Huateng Foundation, Ltd"
578,579,278500,New York University,New York,NY,2017-01-18,2998416,Monetary Gift,CHINA,Anonymous
586,587,142600,Yale University,New Haven,CT,2018-04-26,2953688,Monetary Gift,CHINA,Anonymous #23
7579,7580,215500,Harvard University,Cambridge,MA,2013-07-01,2500000,Monetary Gift,CHINA,NaN
671,672,278500,New York University,New York,NY,2017-07-05,2499865,Monetary Gift,CHINA,Anonymous
21047,21048,142600,Yale University,New Haven,CT,2018-08-22,2000000,Monetary Gift,CHINA,Anonymous #14
7573,7574,215500,Harvard University,Cambridge,MA,2017-01-01,2000000,Monetary Gift,CHINA,NaN
11475,11476,262700,Princeton University,Princeton,NJ,2017-11-24,2000000,Monetary Gift,CHINA,"Ma Huateng Foundation, Ltd"
20117,20118,337800,University of Pennsylvania,Philadelphia,PA,2013-09-27,2000000,Monetary Gift,CHINA,Anonymous
9718,9719,278500,New York University,New York,NY,2012-05-22,2000000,Monetary Gift,CHINA,Rilin Enterprise Limited
13491,13492,130500,Stanford University,Stanford,CA,2018-09-12,2000000,Monetary Gift,CHINA,NaN
9717,9718,278500,New York University,New York,NY,2012-05-22,2000000,Monetary Gift,CHINA,Rilin Enterprise Limited
13481,13482,130500,Stanford University,Stanford,CA,2014-09-24,1975250,Monetary Gift,CHINA,NaN
13482,13483,130500,Stanford University,Stanford,CA,2014-09-24,1975250,Monetary Gift,CHINA,NaN
898,899,182500,Purdue University,West Lafayette,IN,2012-05-18,1943656,Monetary Gift,CHINA,Shandong Nanshan Aluminum Co Ltd
905,906,130500,Stanford University,Stanford,CA,2017-12-07,1920615,Monetary Gift,CHINA,NaN
929,930,215500,Harvard University,Cambridge,MA,2017-07-01,1867261,Monetary Gift,CHINA,NaN
931,932,337800,University of Pennsylvania,Philadelphia,PA,2017-11-18,1863751,Monetary Gift,CHINA,E-House (China) Holdings Limited
827,828,212100,Babson College,Babson Park,MA,2017-12-21,1800000,Monetary Gift,CHINA,Feng Yi Zhang
975,976,142600,Yale University,New Haven,CT,2013-02-21,1749750,Monetary Gift,CHINA,Lei Zhang
1059,1060,337800,University of Pennsylvania,Philadelphia,PA,2016-05-15,1573972,Monetary Gift,CHINA,"Ping An Bank Co., Ltd."
13476,13477,130500,Stanford University,Stanford,CA,2017-08-29,1500000,Monetary Gift,CHINA,NaN
7052,7053,156900,Georgia Institute of Technology,Atlanta,GA,2018-08-27,1500000,Monetary Gift,CHINA,Dr. Jun Luo
20009,20010,184000,University of Notre Dame,Notre Dame,IN,2017-09-21,1500000,Monetary Gift,CHINA,Our Lady of Perpetual Succour Chari
11474,11475,262700,Princeton University,Princeton,NJ,2015-12-15,1500000,Monetary Gift,CHINA,NaN
7051,7052,156900,Georgia Institute of Technology,Atlanta,GA,2018-08-27,1500000,Monetary Gift,CHINA,Dr. Jian Z. Liang
7050,7051,156900,Georgia Institute of Technology,Atlanta,GA,2015-01-02,1500000,Monetary Gift,CHINA,Mr. Jian Z. Liang
1175,1176,207700,Johns Hopkins University,Baltimore,MD,2016-06-30,1448741,Monetary Gift,CHINA,NaN
1177,1178,337800,University of Pennsylvania,Philadelphia,PA,2015-09-24,1445495,Monetary Gift,CHINA,E-House (China) Holdings Limited
1190,1191,215500,Harvard University,Cambridge,MA,2015-01-01,1415000,Monetary Gift,CHINA,NaN
1213,1214,215500,Harvard University,Cambridge,MA,2012-01-01,1370000,Monetary Gift,CHINA,NaN
1227,1228,207700,Johns Hopkins University,Baltimore,MD,2015-05-31,1350379,Monetary Gift,CHINA,NaN
7561,7562,215500,Harvard University,Cambridge,MA,2014-07-01,1350000,Monetary Gift,CHINA,NaN
1243,1244,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-12-28,1330000,Monetary Gift,CHINA,NaN
1321,1322,262700,Princeton University,Princeton,NJ,2018-06-11,1233495,Monetary Gift,CHINA,NaN
1324,1325,337800,University of Pennsylvania,Philadelphia,PA,2018-04-18,1228885,Monetary Gift,CHINA,E-House (China) Holdings Limited
20424,20425,132800,University of Southern California,Los Angeles,CA,2016-11-03,1200000,Monetary Gift,CHINA,NaN
1363,1364,207700,Johns Hopkins University,Baltimore,MD,2018-06-01,1190749,Monetary Gift,CHINA,NaN
1474,1475,212100,Babson College,Babson Park,MA,2018-05-21,1065300,Monetary Gift,CHINA,Mr. Fred S.C. Kiang
1533,1534,215500,Harvard University,Cambridge,MA,2013-01-01,1022540,Monetary Gift,CHINA,NaN
13474,13475,130500,Stanford University,Stanford,CA,2014-09-30,1020875,Monetary Gift,CHINA,NaN
13475,13476,130500,Stanford University,Stanford,CA,2014-09-30,1020875,Monetary Gift,CHINA,NaN
20108,20109,337800,University of Pennsylvania,Philadelphia,PA,2013-09-27,1000000,Monetary Gift,CHINA,Anonymous
9704,9705,278500,New York University,New York,NY,2015-09-23,1000000,Monetary Gift,CHINA,Anonymous
6788,6789,270700,Columbia University in the City of New York,New York,NY,2018-02-28,1000000,Monetary Gift,CHINA,Ms. Yuling Wei
6790,6791,270700,Columbia University in the City of New York,New York,NY,2018-10-24,1000000,Monetary Gift,CHINA,Mr. Maodong Xu
6785,6786,270700,Columbia University in the City of New York,New York,NY,2017-06-23,1000000,Monetary Gift,CHINA,Jiangsu Ruihua Investment Holding
20422,20423,132800,University of Southern California,Los Angeles,CA,2018-01-12,1000000,Monetary Gift,CHINA,NaN
20418,20419,132800,University of Southern California,Los Angeles,CA,2014-05-05,1000000,Monetary Gift,CHINA,Individual
9699,9700,278500,New York University,New York,NY,2012-05-22,1000000,Monetary Gift,CHINA,Rilin Enterprise Limited
5628,5629,324200,Carnegie Mellon University,Pittsburgh,PA,2016-10-07,1000000,Monetary Gift,CHINA,NaN
10140,10141,173900,Northwestern University,Evanston,IL,2018-12-03,1000000,Monetary Gift,CHINA,Peter Xue
20415,20416,132800,University of Southern California,Los Angeles,CA,2012-10-09,1000000,Monetary Gift,CHINA,INDIVIDUAL
13453,13454,130500,Stanford University,Stanford,CA,2016-12-08,1000000,Monetary Gift,CHINA,NaN
5643,5644,324200,Carnegie Mellon University,Pittsburgh,PA,2017-10-09,1000000,Monetary Gift,CHINA,NaN
13463,13464,130500,Stanford University,Stanford,CA,2017-12-20,1000000,Monetary Gift,CHINA,NaN
21041,21042,142600,Yale University,New Haven,CT,2018-06-25,1000000,Monetary Gift,CHINA,Anonymous #38
13451,13452,130500,Stanford University,Stanford,CA,2016-11-25,1000000,Monetary Gift,CHINA,NaN
13431,13432,130500,Stanford University,Stanford,CA,2016-07-26,1000000,Monetary Gift,CHINA,NaN
13430,13431,130500,Stanford University,Stanford,CA,2016-07-25,1000000,Monetary Gift,CHINA,NaN
13406,13407,130500,Stanford University,Stanford,CA,2015-12-16,1000000,Monetary Gift,CHINA,NaN
13402,13403,130500,Stanford University,Stanford,CA,2015-06-11,1000000,Monetary Gift,CHINA,NaN
13399,13400,130500,Stanford University,Stanford,CA,2014-12-19,1000000,Monetary Gift,CHINA,NaN
13374,13375,130500,Stanford University,Stanford,CA,2012-12-12,1000000,Monetary Gift,CHINA,NaN
13361,13362,130500,Stanford University,Stanford,CA,2012-03-22,1000000,Monetary Gift,CHINA,NaN
20419,20420,132800,University of Southern California,Los Angeles,CA,2014-05-19,1000000,Monetary Gift,CHINA,Individual
20107,20108,337800,University of Pennsylvania,Philadelphia,PA,2013-09-27,1000000,Monetary Gift,CHINA,Anonymous
18861,18862,131700,"University of California, San Diego",La Jolla,CA,2016-03-11,1000000,Monetary Gift,CHINA,Dartech Limited
7544,7545,215500,Harvard University,Cambridge,MA,2016-01-01,1000000,Monetary Gift,CHINA,NaN
13358,13359,130500,Stanford University,Stanford,CA,2016-04-25,999975,Monetary Gift,CHINA,NaN
9698,9699,278500,New York University,New York,NY,2013-06-27,999975,Monetary Gift,CHINA,Mr. and Mrs. Rui Lin Zhang
1859,1860,207700,Johns Hopkins University,Baltimore,MD,2017-09-30,973090,Monetary Gift,CHINA,NaN
20102,20103,337800,University of Pennsylvania,Philadelphia,PA,2018-04-19,950000,Monetary Gift,CHINA,China Merchants Bank
1929,1930,337800,University of Pennsylvania,Philadelphia,PA,2016-09-09,926802,Monetary Gift,CHINA,E-House (China) Holdings Limited
14157,14158,131200,"University of California, Berkeley",Berkeley,CA,2016-09-20,900000,Monetary Gift,CHINA,"Huawei Technologies Co, LTD"
2016,2017,337800,University of Pennsylvania,Philadelphia,PA,2014-04-19,890000,Monetary Gift,CHINA,"Beijing Longfor Properties Co., Ltd"
13352,13353,130500,Stanford University,Stanford,CA,2016-02-02,850000,Monetary Gift,CHINA,NaN
13353,13354,130500,Stanford University,Stanford,CA,2017-03-01,850000,Monetary Gift,CHINA,NaN
13354,13355,130500,Stanford University,Stanford,CA,2017-03-01,850000,Monetary Gift,CHINA,NaN
13351,13352,130500,Stanford University,Stanford,CA,2016-02-02,850000,Monetary Gift,CHINA,NaN
2114,2115,142600,Yale University,New Haven,CT,2018-07-03,843165,Monetary Gift,CHINA,Anonymous #37
2138,2139,337800,University of Pennsylvania,Philadelphia,PA,2016-08-14,831170,Monetary Gift,CHINA,Shanghai Real Estate Education & Te
2152,2153,337800,University of Pennsylvania,Philadelphia,PA,2014-04-14,821500,Monetary Gift,CHINA,E-House (China) Holdings Limited
2158,2159,337800,University of Pennsylvania,Philadelphia,PA,2015-09-01,818593,Monetary Gift,CHINA,Industrial Bank Co. Ltd. (China Ind
2187,2188,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-08,805427,Monetary Gift,CHINA,WUHU THZ ENGINEERING CTR
21034,21035,142600,Yale University,New Haven,CT,2018-03-08,800000,Monetary Gift,CHINA,Anon. Donor #12
13347,13348,130500,Stanford University,Stanford,CA,2017-03-17,800000,Monetary Gift,CHINA,NaN
13346,13347,130500,Stanford University,Stanford,CA,2017-03-17,800000,Monetary Gift,CHINA,NaN
...,...,...,...,...,...,...,...,...,...,...
13523,13524,397900,"Teachers College, Columbia University",New York,NY,2014-08-12,100,Monetary Gift,CHINA,Lei Zhang
13526,13527,397900,"Teachers College, Columbia University",New York,NY,2014-12-14,100,Monetary Gift,CHINA,Arthur Lau
13527,13528,397900,"Teachers College, Columbia University",New York,NY,2015-06-17,100,Monetary Gift,CHINA,Sha Li
16562,16563,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-04,100,Monetary Gift,CHINA,"SUN, GANG"
16532,16533,131500,"University of California, Los Angeles",Los Angeles,CA,2015-06-30,100,Monetary Gift,CHINA,"Chunlian, Zhang"
16568,16569,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-16,100,Monetary Gift,CHINA,"SHIH, STEPHEN"
16756,16757,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-30,100,Monetary Gift,CHINA,"YANG, LAN"
16860,16861,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-16,100,Monetary Gift,CHINA,"Chen, Lei"
16859,16860,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-06,100,Monetary Gift,CHINA,"Li, Fang"
16823,16824,131500,"University of California, Los Angeles",Los Angeles,CA,2018-03-17,100,Monetary Gift,CHINA,"Sun, Miles"
16796,16797,131500,"University of California, Los Angeles",Los Angeles,CA,2017-12-28,100,Monetary Gift,CHINA,"CHEN, LEI"
16789,16790,131500,"University of California, Los Angeles",Los Angeles,CA,2017-12-18,100,Monetary Gift,CHINA,"WANG, HONGBO"
16781,16782,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-19,100,Monetary Gift,CHINA,"WU, ROXANNE"
16771,16772,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-13,100,Monetary Gift,CHINA,"ZHANG, WEN"
16767,16768,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-04,100,Monetary Gift,CHINA,"ZHAO, YIJI"
16766,16767,131500,"University of California, Los Angeles",Los Angeles,CA,2017-10-31,100,Monetary Gift,CHINA,"GONG, MICHELLE"
16757,16758,131500,"University of California, Los Angeles",Los Angeles,CA,2017-07-04,100,Monetary Gift,CHINA,"SCOTT, ZHEN"
16769,16770,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-10,100,Monetary Gift,CHINA,"LAN, TU"
16749,16750,131500,"University of California, Los Angeles",Los Angeles,CA,2017-06-27,100,Monetary Gift,CHINA,"LIU ESQ., PEILIN"
16681,16682,131500,"University of California, Los Angeles",Los Angeles,CA,2016-11-04,100,Monetary Gift,CHINA,"LI, FENG"
16606,16607,131500,"University of California, Los Angeles",Los Angeles,CA,2016-02-05,100,Monetary Gift,CHINA,"Huang, Yuhe"
16618,16619,131500,"University of California, Los Angeles",Los Angeles,CA,2016-04-02,100,Monetary Gift,CHINA,"He, Zheng"
16649,16650,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-27,100,Monetary Gift,CHINA,"Liu Esq., Peilin"
16715,16716,131500,"University of California, Los Angeles",Los Angeles,CA,2017-03-30,100,Monetary Gift,CHINA,"SUNG, GANG"
16669,16670,131500,"University of California, Los Angeles",Los Angeles,CA,2016-09-18,100,Monetary Gift,CHINA,"YU, MENGZHE"
16684,16685,131500,"University of California, Los Angeles",Los Angeles,CA,2016-11-19,100,Monetary Gift,CHINA,"SUN, GANG"
16695,16696,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-17,100,Monetary Gift,CHINA,"CHANG, QING"
16705,16706,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-28,100,Monetary Gift,CHINA,"WRIGHT, WILLIAM A"
16219,16220,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-31,88,Monetary Gift,CHINA,"CAI, ZOE"
16153,16154,131500,"University of California, Los Angeles",Los Angeles,CA,2017-04-10,66,Monetary Gift,CHINA,"ZHAO, YIZHOU"
13519,13520,397900,"Teachers College, Columbia University",New York,NY,2014-12-18,50,Monetary Gift,CHINA,Li Yu
13518,13519,397900,"Teachers College, Columbia University",New York,NY,2014-08-31,50,Monetary Gift,CHINA,Yang Hu
20838,20839,339300,Westminster Theological Seminary,Glenside,PA,2018-05-24,50,Monetary Gift,CHINA,Doudou Men
20837,20838,339300,Westminster Theological Seminary,Glenside,PA,2017-01-12,50,Monetary Gift,CHINA,Yan Lin
15744,15745,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-30,50,Monetary Gift,CHINA,"Zhang, Jian-Zhou"
15759,15760,131500,"University of California, Los Angeles",Los Angeles,CA,2014-01-01,50,Monetary Gift,CHINA,"Liu, Ryan"
15766,15767,131500,"University of California, Los Angeles",Los Angeles,CA,2014-06-02,50,Monetary Gift,CHINA,"Zhang, Jian-Zhou"
15792,15793,131500,"University of California, Los Angeles",Los Angeles,CA,2014-07-15,50,Monetary Gift,CHINA,"Zhang, Jian-Zhou"
15884,15885,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-08,50,Monetary Gift,CHINA,"ZHANG, QUNSHUANG"
15885,15886,131500,"University of California, Los Angeles",Los Angeles,CA,2015-10-08,50,Monetary Gift,CHINA,"ZHANG, QUNSHUANG"
15903,15904,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-31,50,Monetary Gift,CHINA,"PENG, JUN"
15945,15946,131500,"University of California, Los Angeles",Los Angeles,CA,2016-06-15,50,Monetary Gift,CHINA,"Peng, Jun"
15960,15961,131500,"University of California, Los Angeles",Los Angeles,CA,2016-11-13,50,Monetary Gift,CHINA,"WANG,M XINYAN"
15969,15970,131500,"University of California, Los Angeles",Los Angeles,CA,2016-12-10,50,Monetary Gift,CHINA,"JIANZHOU, ZHANG"
16042,16043,131500,"University of California, Los Angeles",Los Angeles,CA,2018-06-04,50,Monetary Gift,CHINA,"Zhu, Steven"
16041,16042,131500,"University of California, Los Angeles",Los Angeles,CA,2018-06-01,50,Monetary Gift,CHINA,"Xiang, Xiaoxi"
16040,16041,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-06,50,Monetary Gift,CHINA,"Hu, Xiao"
16039,16040,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-03,50,Monetary Gift,CHINA,"Hu, Xiao"
15982,15983,131500,"University of California, Los Angeles",Los Angeles,CA,2017-03-08,50,Monetary Gift,CHINA,"CHANG, QING"
15974,15975,131500,"University of California, Los Angeles",Los Angeles,CA,2017-01-30,50,Monetary Gift,CHINA,"ZOU, WEIWEI"
15973,15974,131500,"University of California, Los Angeles",Los Angeles,CA,2017-01-30,50,Monetary Gift,CHINA,"CHEN, YU"
15971,15972,131500,"University of California, Los Angeles",Los Angeles,CA,2016-12-28,50,Monetary Gift,CHINA,"WANG, JIAN"
15661,15662,131500,"University of California, Los Angeles",Los Angeles,CA,2016-07-21,42,Monetary Gift,CHINA,"LIU, GE"
15610,15611,131500,"University of California, Los Angeles",Los Angeles,CA,2015-12-31,40,Monetary Gift,CHINA,"YANG, LI"
15593,15594,131500,"University of California, Los Angeles",Los Angeles,CA,2017-11-16,36,Monetary Gift,CHINA,"XU, LEI"
20832,20833,339300,Westminster Theological Seminary,Glenside,PA,2017-03-01,35,Monetary Gift,CHINA,China Citic Bank International Limi
15337,15338,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-21,25,Monetary Gift,CHINA,"WEN, SIRU"
15359,15360,131500,"University of California, Los Angeles",Los Angeles,CA,2017-08-02,25,Monetary Gift,CHINA,"FAN, HENGTING"
13516,13517,397900,"Teachers College, Columbia University",New York,NY,2014-12-29,25,Monetary Gift,CHINA,Yuying Xia
13515,13516,397900,"Teachers College, Columbia University",New York,NY,2014-08-13,25,Monetary Gift,CHINA,Jian Gu
13514,13515,397900,"Teachers College, Columbia University",New York,NY,2014-05-25,25,Monetary Gift,CHINA,Xuemeri Xia
13513,13514,397900,"Teachers College, Columbia University",New York,NY,2014-03-17,25,Monetary Gift,CHINA,Zhao Rita Ren
15182,15183,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-19,21,Monetary Gift,CHINA,"YU, WENHAN"
15183,15184,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-23,21,Monetary Gift,CHINA,"LUO, XIAOSHU"
15179,15180,131500,"University of California, Los Angeles",Los Angeles,CA,2017-04-25,21,Monetary Gift,CHINA,"LIU, QINGYANG"
15128,15129,131500,"University of California, Los Angeles",Los Angeles,CA,2017-05-22,20,Monetary Gift,CHINA,"XU, KEWEI"
15155,15156,131500,"University of California, Los Angeles",Los Angeles,CA,2018-04-24,20,Monetary Gift,CHINA,"Luo, Xiao"
15119,15120,131500,"University of California, Los Angeles",Los Angeles,CA,2017-03-11,20,Monetary Gift,CHINA,"LYU, BINGQING"
15156,15157,131500,"University of California, Los Angeles",Los Angeles,CA,2018-04-24,20,Monetary Gift,CHINA,"Sun, Yueyuan"
15160,15161,131500,"University of California, Los Angeles",Los Angeles,CA,2018-05-08,20,Monetary Gift,CHINA,"Shi, Wenting"
15135,15136,131500,"University of California, Los Angeles",Los Angeles,CA,2017-08-15,20,Monetary Gift,CHINA,"XU, KEWEI"
15105,15106,131500,"University of California, Los Angeles",Los Angeles,CA,2016-03-29,20,Monetary Gift,CHINA,"Ding, Zhaowen"
15098,15099,131500,"University of California, Los Angeles",Los Angeles,CA,2015-02-04,20,Monetary Gift,CHINA,"Xu, Zhening"
15068,15069,131500,"University of California, Los Angeles",Los Angeles,CA,2013-04-10,20,Monetary Gift,CHINA,"Liang, Yihui"
15062,15063,131500,"University of California, Los Angeles",Los Angeles,CA,2012-12-31,20,Monetary Gift,CHINA,"Liu, Chi"
15044,15045,131500,"University of California, Los Angeles",Los Angeles,CA,2012-09-22,20,Monetary Gift,CHINA,"Yang, Pei"

In [67]:
df[(df['Gift Type']=='Monetary Gift') & (df['Country of Giftor'] == 'INDIA')].sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
36,37,131700,"University of California, San Diego",La Jolla,CA,2018-02-28,28000000,Monetary Gift,INDIA,Tata Education and Development Trus
5711,5712,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-30,10000000,Monetary Gift,INDIA,NaN
148,149,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-08-05,9950000,Monetary Gift,INDIA,SIR DORABJI TATA TRUST AND ALLIED T
248,249,271100,Cornell University,Ithaca,NY,2018-03-30,5733625,Monetary Gift,INDIA,Ratan Tata
7593,7594,215500,Harvard University,Cambridge,MA,2016-01-01,5000000,Monetary Gift,INDIA,NaN
7592,7593,215500,Harvard University,Cambridge,MA,2014-01-01,5000000,Monetary Gift,INDIA,NaN
7591,7592,215500,Harvard University,Cambridge,MA,2013-01-01,5000000,Monetary Gift,INDIA,NaN
7590,7591,215500,Harvard University,Cambridge,MA,2012-01-01,5000000,Monetary Gift,INDIA,NaN
9579,9580,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-07-14,5000000,Monetary Gift,INDIA,Sir Dorabji Tata Trust and Allied T
9581,9582,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-06-23,5000000,Monetary Gift,INDIA,Sir Dorabji Tata Trust and Allied T
327,328,215500,Harvard University,Cambridge,MA,2015-01-01,4800702,Monetary Gift,INDIA,NaN
337,338,177400,University of Chicago (The),Chicago,IL,2016-05-05,4717410,Monetary Gift,INDIA,NaN
440,441,207700,Johns Hopkins University,Baltimore,MD,2017-12-29,3671300,Monetary Gift,INDIA,NaN
18863,18864,131700,"University of California, San Diego",La Jolla,CA,2018-02-28,3500000,Monetary Gift,INDIA,Tata Education and Development Trus
18862,18863,131700,"University of California, San Diego",La Jolla,CA,2018-02-28,3500000,Monetary Gift,INDIA,Tata Education and Development Trus
510,511,215500,Harvard University,Cambridge,MA,2017-07-01,3197454,Monetary Gift,INDIA,NaN
513,514,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-12-05,3166667,Monetary Gift,INDIA,NaN
9556,9557,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-11-15,3000000,Monetary Gift,INDIA,SIR DORABJI TATA TRUST AND ALLIED T
9552,9553,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-06-23,3000000,Monetary Gift,INDIA,Sir Dorabji Tata Trust and Allied T
9551,9552,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-06-23,3000000,Monetary Gift,INDIA,SIR DORABJI TATA TRUST AND ALLIED T
599,600,207700,Johns Hopkins University,Baltimore,MD,2018-12-01,2864893,Monetary Gift,INDIA,NaN
640,641,215500,Harvard University,Cambridge,MA,2015-07-01,2550000,Monetary Gift,INDIA,NaN
5706,5707,324200,Carnegie Mellon University,Pittsburgh,PA,2017-03-22,2500000,Monetary Gift,INDIA,NaN
5705,5706,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-28,2500000,Monetary Gift,INDIA,NaN
670,671,974100,University of Texas at Dallas,Richardson,TX,2012-10-10,2499950,Monetary Gift,INDIA,Jindal Steel & Power Limited
778,779,207700,Johns Hopkins University,Baltimore,MD,2015-12-15,2098815,Monetary Gift,INDIA,NaN
9530,9531,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-06-23,2000000,Monetary Gift,INDIA,Sir Dorabji Tata Trust and Allied T
9536,9537,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-11-15,2000000,Monetary Gift,INDIA,SIR DORABJI TATA TRUST AND ALLIED T
9529,9530,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-06-23,2000000,Monetary Gift,INDIA,SIR DORABJI TATA TRUST AND ALLIED T
20556,20557,974100,University of Texas at Dallas,Richardson,TX,2014-10-14,2000000,Monetary Gift,INDIA,Jindal Steel & Power Limited
20557,20558,974100,University of Texas at Dallas,Richardson,TX,2017-05-23,2000000,Monetary Gift,INDIA,Jindal Petroleum Georgia Limited
922,923,292000,Duke University,Durham,NC,2014-06-30,1879284,Monetary Gift,INDIA,Dr. Reddy's Laboratries LTD
7569,7570,215500,Harvard University,Cambridge,MA,2017-01-01,1875000,Monetary Gift,INDIA,NaN
928,929,142600,Yale University,New Haven,CT,2018-12-11,1868915,Monetary Gift,INDIA,Anonymous #12
987,988,292000,Duke University,Durham,NC,2015-06-30,1708096,Monetary Gift,INDIA,Dr. Reddy's Laboratories SA
1009,1010,207700,Johns Hopkins University,Baltimore,MD,2015-06-30,1671426,Monetary Gift,INDIA,NaN
1012,1013,207700,Johns Hopkins University,Baltimore,MD,2016-06-30,1660859,Monetary Gift,INDIA,NaN
1022,1023,207700,Johns Hopkins University,Baltimore,MD,2017-06-01,1639696,Monetary Gift,INDIA,NaN
1028,1029,207700,Johns Hopkins University,Baltimore,MD,2016-12-27,1633033,Monetary Gift,INDIA,NaN
1035,1036,207700,Johns Hopkins University,Baltimore,MD,2018-06-01,1619542,Monetary Gift,INDIA,NaN
13480,13481,130500,Stanford University,Stanford,CA,2013-09-04,1600000,Monetary Gift,INDIA,NaN
1087,1088,142600,Yale University,New Haven,CT,2018-12-04,1521903,Monetary Gift,INDIA,Anonymous #44
1094,1095,974100,University of Texas at Dallas,Richardson,TX,2013-10-01,1500500,Monetary Gift,INDIA,Jindal Steel & Power Limited
13479,13480,130500,Stanford University,Stanford,CA,2018-06-14,1500000,Monetary Gift,INDIA,NaN
1371,1372,177400,University of Chicago (The),Chicago,IL,2016-05-04,1179350,Monetary Gift,INDIA,NaN
7548,7549,215500,Harvard University,Cambridge,MA,2018-01-01,1000000,Monetary Gift,INDIA,NaN
7545,7546,215500,Harvard University,Cambridge,MA,2016-07-01,1000000,Monetary Gift,INDIA,NaN
7536,7537,215500,Harvard University,Cambridge,MA,2012-07-01,1000000,Monetary Gift,INDIA,NaN
7551,7552,215500,Harvard University,Cambridge,MA,2018-07-01,1000000,Monetary Gift,INDIA,NaN
9368,9369,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-12-05,1000000,Monetary Gift,INDIA,NaN
5433,5434,113100,California Institute of Technology,Pasadena,CA,2015-03-25,1000000,Monetary Gift,INDIA,Mr. N.R. Narayana Murthy
2009,2010,337800,University of Pennsylvania,Philadelphia,PA,2016-06-29,894503,Monetary Gift,INDIA,Accenture services LTD
9261,9262,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-12-05,833333,Monetary Gift,INDIA,NaN
2189,2190,337800,University of Pennsylvania,Philadelphia,PA,2015-06-25,804000,Monetary Gift,INDIA,Accenture services LTD
2293,2294,337800,University of Pennsylvania,Philadelphia,PA,2017-05-22,780698,Monetary Gift,INDIA,Accenture services LTD
2354,2355,177500,University of Illinois at Urbana-Champaign,Champaign,IL,2014-12-31,754982,Monetary Gift,INDIA,Global Development Network (GDN)
2599,2600,337800,University of Pennsylvania,Philadelphia,PA,2017-12-04,672475,Monetary Gift,INDIA,Hero MotoCorp Ltd.
2618,2619,270700,Columbia University in the City of New York,New York,NY,2018-06-02,663665,Monetary Gift,INDIA,RMZ Foundation
13343,13344,130500,Stanford University,Stanford,CA,2018-08-21,650000,Monetary Gift,INDIA,NaN
5573,5574,324200,Carnegie Mellon University,Pittsburgh,PA,2016-09-29,600000,Monetary Gift,INDIA,NaN
13328,13329,130500,Stanford University,Stanford,CA,2016-09-09,600000,Monetary Gift,INDIA,NaN
13326,13327,130500,Stanford University,Stanford,CA,2015-08-31,600000,Monetary Gift,INDIA,NaN
13325,13326,130500,Stanford University,Stanford,CA,2014-11-05,600000,Monetary Gift,INDIA,NaN
13329,13330,130500,Stanford University,Stanford,CA,2018-02-09,600000,Monetary Gift,INDIA,NaN
5571,5572,324200,Carnegie Mellon University,Pittsburgh,PA,2015-09-18,550000,Monetary Gift,INDIA,NaN
3103,3104,337800,University of Pennsylvania,Philadelphia,PA,2017-05-29,544400,Monetary Gift,INDIA,Larsen & Toubro Ltd.
3121,3122,130500,Stanford University,Stanford,CA,2017-05-19,539975,Monetary Gift,INDIA,NaN
9086,9087,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-08-24,500000,Monetary Gift,INDIA,"MAZUMDAR-SHAW,KIRAN"
13233,13234,130500,Stanford University,Stanford,CA,2013-09-04,500000,Monetary Gift,INDIA,NaN
9072,9073,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-07-11,500000,Monetary Gift,INDIA,"MAZUMDAR-SHAW,KIRAN"
14109,14110,131200,"University of California, Berkeley",Berkeley,CA,2017-10-19,500000,Monetary Gift,INDIA,RM Institute of Science and Technol
6746,6747,270700,Columbia University in the City of New York,New York,NY,2017-06-27,500000,Monetary Gift,INDIA,Mr. Uday Suresh Kotak
6654,6655,270700,Columbia University in the City of New York,New York,NY,2016-06-30,500000,Monetary Gift,INDIA,Mr. Uday Suresh Kotak
6560,6561,270700,Columbia University in the City of New York,New York,NY,2013-07-23,500000,Monetary Gift,INDIA,Mr. Uday Suresh Kotak
6559,6560,270700,Columbia University in the City of New York,New York,NY,2013-07-23,500000,Monetary Gift,INDIA,Mr. Uday Suresh Kotak
8989,8990,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-04-03,500000,Monetary Gift,INDIA,Sera Foundation
5533,5534,324200,Carnegie Mellon University,Pittsburgh,PA,2016-02-18,500000,Monetary Gift,INDIA,NaN
5432,5433,113100,California Institute of Technology,Pasadena,CA,2017-05-31,499950,Monetary Gift,INDIA,Indian Space Research Organization
5425,5426,113100,California Institute of Technology,Pasadena,CA,2012-10-01,499950,Monetary Gift,INDIA,Indian Space Research Organization
3814,3815,177400,University of Chicago (The),Chicago,IL,2017-04-19,477228,Monetary Gift,INDIA,NaN
13205,13206,130500,Stanford University,Stanford,CA,2017-12-06,460000,Monetary Gift,INDIA,NaN
20078,20079,337800,University of Pennsylvania,Philadelphia,PA,2016-09-28,449950,Monetary Gift,INDIA,Adaniportsspecialeco
20079,20080,337800,University of Pennsylvania,Philadelphia,PA,2017-09-18,449950,Monetary Gift,INDIA,Adaniportsspecialeco
4035,4036,292000,Duke University,Durham,NC,2015-12-31,444170,Monetary Gift,INDIA,Dr. Reddy's Laboratories SA
4039,4040,207700,Johns Hopkins University,Baltimore,MD,2014-09-30,443895,Monetary Gift,INDIA,NaN
4195,4196,130500,Stanford University,Stanford,CA,2018-12-11,424950,Monetary Gift,INDIA,NaN
6518,6519,270700,Columbia University in the City of New York,New York,NY,2018-03-28,400000,Monetary Gift,INDIA,Reliance Industries Limited
4536,4537,182500,Purdue University,West Lafayette,IN,2014-08-28,396000,Monetary Gift,INDIA,Tata Consultancy Services
4706,4707,337800,University of Pennsylvania,Philadelphia,PA,2015-07-13,376462,Monetary Gift,INDIA,Indian Institute of Management Bang
21012,21013,142600,Yale University,New Haven,CT,2018-04-23,375000,Monetary Gift,INDIA,Anon. Donor #4
4852,4853,337800,University of Pennsylvania,Philadelphia,PA,2014-04-14,363886,Monetary Gift,INDIA,Indian Institute of Management Bang
4904,4905,177400,University of Chicago (The),Chicago,IL,2015-11-20,359203,Monetary Gift,INDIA,NaN
20063,20064,337800,University of Pennsylvania,Philadelphia,PA,2015-09-14,350000,Monetary Gift,INDIA,Indian Audit & Accounts Services
20062,20063,337800,University of Pennsylvania,Philadelphia,PA,2014-09-02,350000,Monetary Gift,INDIA,Indian Audit & Accounts Services
5082,5083,337800,University of Pennsylvania,Philadelphia,PA,2018-04-18,345655,Monetary Gift,INDIA,Hero MotoCorp Ltd.
10129,10130,173900,Northwestern University,Evanston,IL,2013-11-15,334000,Monetary Gift,INDIA,Bhadrashyam H. Kothari
10128,10129,173900,Northwestern University,Evanston,IL,2014-06-20,333333,Monetary Gift,INDIA,Mr. Bhadrashyam H. Kothari
5537,5538,132800,University of Southern California,Los Angeles,CA,2012-12-12,312500,Monetary Gift,INDIA,CORPORATION
5631,5632,207700,Johns Hopkins University,Baltimore,MD,2014-11-30,304803,Monetary Gift,INDIA,NaN
5657,5658,207700,Johns Hopkins University,Baltimore,MD,2014-07-31,303192,Monetary Gift,INDIA,NaN
13039,13040,130500,Stanford University,Stanford,CA,2013-08-02,300000,Monetary Gift,INDIA,NaN
12175,12176,175300,School of the Art Institute of Chicago,Chicago,IL,2015-02-02,300000,Monetary Gift,INDIA,Reliance Foundation
13095,13096,130500,Stanford University,Stanford,CA,2017-02-22,300000,Monetary Gift,INDIA,NaN
20045,20046,337800,University of Pennsylvania,Philadelphia,PA,2014-10-03,300000,Monetary Gift,INDIA,HDFCBank INC
20046,20047,337800,University of Pennsylvania,Philadelphia,PA,2015-12-11,300000,Monetary Gift,INDIA,Reliance Industries LIM
20049,20050,337800,University of Pennsylvania,Philadelphia,PA,2016-08-15,300000,Monetary Gift,INDIA,Reliance Industries LIM
20050,20051,337800,University of Pennsylvania,Philadelphia,PA,2017-08-09,300000,Monetary Gift,INDIA,Reliance Industries LIM
13049,13050,130500,Stanford University,Stanford,CA,2015-07-21,300000,Monetary Gift,INDIA,NaN
8946,8947,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-12-01,300000,Monetary Gift,INDIA,TATA CONSULTANCY SERVICES LTD.
13047,13048,130500,Stanford University,Stanford,CA,2014-10-14,300000,Monetary Gift,INDIA,NaN
6089,6090,337800,University of Pennsylvania,Philadelphia,PA,2016-11-27,290250,Monetary Gift,INDIA,Hero MotoCorp Ltd.
6369,6370,207700,Johns Hopkins University,Baltimore,MD,2014-10-31,271924,Monetary Gift,INDIA,NaN
9632,9633,278500,New York University,New York,NY,2016-04-04,250000,Monetary Gift,INDIA,Anonymous
12955,12956,130500,Stanford University,Stanford,CA,2015-09-01,250000,Monetary Gift,INDIA,NaN
9954,9955,173900,Northwestern University,Evanston,IL,2016-05-16,250000,Monetary Gift,INDIA,Nina Kothari
20036,20037,337800,University of Pennsylvania,Philadelphia,PA,2017-01-04,250000,Monetary Gift,INDIA,Gambia MCO Limited
8583,8584,207700,Johns Hopkins University,Baltimore,MD,2012-08-01,250000,Monetary Gift,INDIA,NaN
7112,7113,207700,Johns Hopkins University,Baltimore,MD,2013-12-31,247671,Monetary Gift,INDIA,NaN
7334,7335,207700,Johns Hopkins University,Baltimore,MD,2013-09-30,221615,Monetary Gift,INDIA,NaN
7388,7389,207700,Johns Hopkins University,Baltimore,MD,2013-10-31,215875,Monetary Gift,INDIA,NaN
7392,7393,207700,Johns Hopkins University,Baltimore,MD,2014-12-31,215507,Monetary Gift,INDIA,NaN
7402,7403,207700,Johns Hopkins University,Baltimore,MD,2013-08-31,214125,Monetary Gift,INDIA,NaN
7461,7462,207700,Johns Hopkins University,Baltimore,MD,2014-04-30,207235,Monetary Gift,INDIA,NaN
12150,12151,175300,School of the Art Institute of Chicago,Chicago,IL,2015-04-28,200000,Monetary Gift,INDIA,Reliance Foundation
20988,20989,142600,Yale University,New Haven,CT,2012-08-08,200000,Monetary Gift,INDIA,Sutlej Textiles and Industries Ltd
12930,12931,130500,Stanford University,Stanford,CA,2015-11-05,200000,Monetary Gift,INDIA,NaN
7688,7689,207700,Johns Hopkins University,Baltimore,MD,2014-01-31,197086,Monetary Gift,INDIA,NaN
7691,7692,270700,Columbia University in the City of New York,New York,NY,2015-05-22,196750,Monetary Gift,INDIA,The Vaibhav Medical and Educational
7711,7712,207700,Johns Hopkins University,Baltimore,MD,2014-02-28,194841,Monetary Gift,INDIA,NaN
7838,7839,207700,Johns Hopkins University,Baltimore,MD,2014-08-31,182440,Monetary Gift,INDIA,NaN
7972,7973,207700,Johns Hopkins University,Baltimore,MD,2014-03-31,172968,Monetary Gift,INDIA,NaN
8099,8100,207700,Johns Hopkins University,Baltimore,MD,2014-06-30,164860,Monetary Gift,INDIA,NaN
8112,8113,207700,Johns Hopkins University,Baltimore,MD,2014-05-31,164156,Monetary Gift,INDIA,NaN
8225,8226,207700,Johns Hopkins University,Baltimore,MD,2013-11-30,157882,Monetary Gift,INDIA,NaN
12831,12832,130500,Stanford University,Stanford,CA,2016-01-25,150000,Monetary Gift,INDIA,NaN
703,704,212100,Babson College,Babson Park,MA,2012-10-23,150000,Monetary Gift,INDIA,Guddu Investments (Pondi) Priv Ltd
9436,9437,220900,Smith College,Northampton,MA,2013-09-12,104321,Monetary Gift,INDIA,Priscilla Gonsalves
9444,9445,142600,Yale University,New Haven,CT,2012-09-24,103869,Monetary Gift,INDIA,Priscilla T. Gonsalves
12637,12638,130500,Stanford University,Stanford,CA,2016-10-25,100000,Monetary Gift,INDIA,NaN
12583,12584,130500,Stanford University,Stanford,CA,2015-10-28,100000,Monetary Gift,INDIA,NaN
12581,12582,130500,Stanford University,Stanford,CA,2012-10-01,100000,Monetary Gift,INDIA,NaN
12580,12581,130500,Stanford University,Stanford,CA,2012-09-19,100000,Monetary Gift,INDIA,NaN
12579,12580,130500,Stanford University,Stanford,CA,2012-07-16,100000,Monetary Gift,INDIA,NaN
550,551,212100,Babson College,Babson Park,MA,2012-03-12,100000,Monetary Gift,INDIA,Guddu Investments (Pondi) Priv Ltd
10063,10064,207700,Johns Hopkins University,Baltimore,MD,2013-07-31,82248,Monetary Gift,INDIA,NaN
10776,10777,207700,Johns Hopkins University,Baltimore,MD,2012-07-01,59074,Monetary Gift,INDIA,NaN
11875,11876,207700,Johns Hopkins University,Baltimore,MD,2012-11-01,35857,Monetary Gift,INDIA,NaN
8466,8467,207700,Johns Hopkins University,Baltimore,MD,2015-05-31,27750,Monetary Gift,INDIA,NaN
12588,12589,270700,Columbia University in the City of New York,New York,NY,2018-05-16,24980,Monetary Gift,INDIA,RMZ Foundation
19342,19343,194800,University of Kansas,Lawrence,KS,2018-09-13,20000,Monetary Gift,INDIA,Reliance Industries
12336,12337,130500,Stanford University,Stanford,CA,2016-04-04,15000,Monetary Gift,INDIA,NaN
13382,13383,130500,Stanford University,Stanford,CA,2017-03-02,14725,Monetary Gift,INDIA,NaN
8459,8460,207700,Johns Hopkins University,Baltimore,MD,2015-01-30,12000,Monetary Gift,INDIA,NaN
14410,14411,207700,Johns Hopkins University,Baltimore,MD,2015-04-30,8145,Monetary Gift,INDIA,NaN
12295,12296,130500,Stanford University,Stanford,CA,2017-03-08,5972,Monetary Gift,INDIA,NaN
15220,15221,113100,California Institute of Technology,Pasadena,CA,2012-07-11,4980,Monetary Gift,INDIA,Mr. Rajiv S. Sahney
3556,3557,113100,California Institute of Technology,Pasadena,CA,2012-07-03,1500,Monetary Gift,INDIA,Mr. Rajiv S. Sahney
8405,8406,207700,Johns Hopkins University,Baltimore,MD,2015-02-28,395,Monetary Gift,INDIA,NaN
1800,1801,113100,California Institute of Technology,Pasadena,CA,2015-03-24,250,Monetary Gift,INDIA,Dr. Roddam Narasimha
1743,1744,113100,California Institute of Technology,Pasadena,CA,2015-12-24,200,Monetary Gift,INDIA,"Jain, Sudhir K."
16914,16915,131500,"University of California, Los Angeles",Los Angeles,CA,2013-11-05,120,Monetary Gift,INDIA,"Singh, Man Jit"
8347,8348,207700,Johns Hopkins University,Baltimore,MD,2012-12-01,100,Monetary Gift,INDIA,NaN
8351,8352,207700,Johns Hopkins University,Baltimore,MD,2015-03-31,100,Monetary Gift,INDIA,NaN
15074,15075,131500,"University of California, Los Angeles",Los Angeles,CA,2013-12-30,20,Monetary Gift,INDIA,"Shastry, Kartik"
19394,19395,199900,University of Louisville,Louisville,KY,2015-10-22,10,Monetary Gift,INDIA,Swathi Sunkara

In [68]:
df[(df['Gift Type']=='Monetary Gift') & (df['Country of Giftor'] == 'SAUDI ARABIA')].sort_values(by='Foreign Gift Amount',ascending = False)

,ID,OPEID,Institution Name,City,State,Foreign Gift Received Date,Foreign Gift Amount,Gift Type,Country of Giftor,Giftor Name
17,18,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-05-06,43000000,Monetary Gift,SAUDI ARABIA,Mr. Mohammed A. Jameel
47,48,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-05-01,25000000,Monetary Gift,SAUDI ARABIA,"Jameel. Mohammed, Abdul"
188,189,207700,Johns Hopkins University,Baltimore,MD,2012-05-31,7565141,Monetary Gift,SAUDI ARABIA,NaN
220,221,207700,Johns Hopkins University,Baltimore,MD,2012-12-01,6472770,Monetary Gift,SAUDI ARABIA,NaN
261,262,144500,Georgetown University,Washington,DC,2014-12-30,5500000,Monetary Gift,SAUDI ARABIA,Saad Hariri
265,266,321000,Oregon State University,Corvallis,OR,2018-12-19,5359320,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
9584,9585,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-09-12,5000000,Monetary Gift,SAUDI ARABIA,NaN
9582,9583,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-05-01,5000000,Monetary Gift,SAUDI ARABIA,"Jameel. Mohammed, Abdul"
385,386,278200,New York Institute of Technology,Old Westbury,NY,2015-12-31,4002536,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
485,486,207700,Johns Hopkins University,Baltimore,MD,2016-11-15,3358247,Monetary Gift,SAUDI ARABIA,NaN
515,516,156900,Georgia Institute of Technology,Atlanta,GA,2016-08-31,3135676,Monetary Gift,SAUDI ARABIA,King Saud University
628,629,278200,New York Institute of Technology,Old Westbury,NY,2017-05-17,2624410,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
642,643,207700,Johns Hopkins University,Baltimore,MD,2012-07-01,2523370,Monetary Gift,SAUDI ARABIA,NaN
677,678,207700,Johns Hopkins University,Baltimore,MD,2017-06-01,2475071,Monetary Gift,SAUDI ARABIA,NaN
730,731,207700,Johns Hopkins University,Baltimore,MD,2012-10-01,2278232,Monetary Gift,SAUDI ARABIA,NaN
7055,7056,156900,Georgia Institute of Technology,Atlanta,GA,2016-09-30,2061077,Monetary Gift,SAUDI ARABIA,King Fahd Univ of Petr & Mineral
874,875,278200,New York Institute of Technology,Old Westbury,NY,2016-05-31,1999180,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
881,882,207700,Johns Hopkins University,Baltimore,MD,2013-07-31,1979385,Monetary Gift,SAUDI ARABIA,NaN
895,896,278200,New York Institute of Technology,Old Westbury,NY,2016-12-23,1951445,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
908,909,207700,Johns Hopkins University,Baltimore,MD,2016-06-30,1905584,Monetary Gift,SAUDI ARABIA,NaN
984,985,130500,Stanford University,Stanford,CA,2012-08-03,1724079,Monetary Gift,SAUDI ARABIA,NaN
6952,6953,144400,George Washington University,Washington,DC,2017-06-30,1700000,Monetary Gift,SAUDI ARABIA,Lama Kolaghassi
1002,1003,278200,New York Institute of Technology,Old Westbury,NY,2014-12-31,1683282,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
1017,1018,194800,University of Kansas,Lawrence,KS,2017-12-31,1650550,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
1037,1038,207700,Johns Hopkins University,Baltimore,MD,2015-12-15,1612418,Monetary Gift,SAUDI ARABIA,NaN
1041,1042,278200,New York Institute of Technology,Old Westbury,NY,2018-12-31,1608109,Monetary Gift,SAUDI ARABIA,Royal Embassy Saudi Cultural Missio
1052,1053,216500,MCPHS University,Boston,MA,2017-12-07,1580284,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
1079,1080,130500,Stanford University,Stanford,CA,2017-09-07,1539395,Monetary Gift,SAUDI ARABIA,NaN
1146,1147,130500,Stanford University,Stanford,CA,2012-05-16,1498598,Monetary Gift,SAUDI ARABIA,NaN
1152,1153,194800,University of Kansas,Lawrence,KS,2018-05-30,1485878,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
1165,1166,130500,Stanford University,Stanford,CA,2016-01-08,1457949,Monetary Gift,SAUDI ARABIA,NaN
1188,1189,194800,University of Kansas,Lawrence,KS,2017-06-30,1416623,Monetary Gift,SAUDI ARABIA,NaN
1221,1222,194800,University of Kansas,Lawrence,KS,2018-12-31,1359023,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
1223,1224,130500,Stanford University,Stanford,CA,2013-06-10,1357851,Monetary Gift,SAUDI ARABIA,NaN
1240,1241,181300,Indiana University - Purdue University Indiana...,Indianapolis,IN,2016-05-17,1333333,Monetary Gift,SAUDI ARABIA,King Saud University
1257,1258,216500,MCPHS University,Boston,MA,2017-01-11,1303269,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
1268,1269,130500,Stanford University,Stanford,CA,2012-05-08,1294481,Monetary Gift,SAUDI ARABIA,NaN
1313,1314,130500,Stanford University,Stanford,CA,2016-10-24,1242229,Monetary Gift,SAUDI ARABIA,NaN
1340,1341,130500,Stanford University,Stanford,CA,2013-07-12,1205112,Monetary Gift,SAUDI ARABIA,NaN
1463,1464,217800,Massachusetts Institute of Technology,Cambridge,MA,2014-08-28,1075000,Monetary Gift,SAUDI ARABIA,Saudi Aramco
6784,6785,270700,Columbia University in the City of New York,New York,NY,2017-06-20,1000000,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
13362,13363,130500,Stanford University,Stanford,CA,2012-03-27,1000000,Monetary Gift,SAUDI ARABIA,NaN
6774,6775,270700,Columbia University in the City of New York,New York,NY,2013-12-27,999972,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
6775,6776,270700,Columbia University in the City of New York,New York,NY,2013-12-27,999972,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
13355,13356,130500,Stanford University,Stanford,CA,2014-08-13,858520,Monetary Gift,SAUDI ARABIA,NaN
13356,13357,130500,Stanford University,Stanford,CA,2014-08-13,858520,Monetary Gift,SAUDI ARABIA,NaN
2109,2110,216500,MCPHS University,Boston,MA,2014-06-30,844777,Monetary Gift,SAUDI ARABIA,Saudi Arabia
2248,2249,216500,MCPHS University,Boston,MA,2015-10-29,798331,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
2263,2264,130500,Stanford University,Stanford,CA,2012-01-12,792802,Monetary Gift,SAUDI ARABIA,NaN
2322,2323,337800,University of Pennsylvania,Philadelphia,PA,2017-03-27,767000,Monetary Gift,SAUDI ARABIA,Saudi Arabian Ministry of Defense a
9238,9239,217800,Massachusetts Institute of Technology,Cambridge,MA,2016-08-01,750000,Monetary Gift,SAUDI ARABIA,SAUDI ARAMCO
9195,9196,217800,Massachusetts Institute of Technology,Cambridge,MA,2013-09-03,750000,Monetary Gift,SAUDI ARABIA,Saudi Aramco
2603,2604,216500,MCPHS University,Boston,MA,2015-06-11,669452,Monetary Gift,SAUDI ARABIA,The Saudi Arabian Cultural Mission
9095,9096,217800,Massachusetts Institute of Technology,Cambridge,MA,2012-11-26,600000,Monetary Gift,SAUDI ARABIA,NaN
13322,13323,130500,Stanford University,Stanford,CA,2014-08-13,599430,Monetary Gift,SAUDI ARABIA,NaN
13321,13322,130500,Stanford University,Stanford,CA,2014-08-13,599430,Monetary Gift,SAUDI ARABIA,NaN
2922,2923,131200,"University of California, Berkeley",Berkeley,CA,2015-01-14,589190,Monetary Gift,SAUDI ARABIA,King Abdulaziz University
2959,2960,216500,MCPHS University,Boston,MA,2015-01-15,579734,Monetary Gift,SAUDI ARABIA,NaN
21025,21026,142600,Yale University,New Haven,CT,2012-09-25,579655,Monetary Gift,SAUDI ARABIA,Kingdom of Saudi Arabia
21026,21027,142600,Yale University,New Haven,CT,2012-09-25,579655,Monetary Gift,SAUDI ARABIA,King Saud University
3043,3044,337800,University of Pennsylvania,Philadelphia,PA,2018-04-18,557000,Monetary Gift,SAUDI ARABIA,Saudi Arabian Ministry of Defense a
3267,3268,207700,Johns Hopkins University,Baltimore,MD,2014-07-31,510546,Monetary Gift,SAUDI ARABIA,NaN
6754,6755,270700,Columbia University in the City of New York,New York,NY,2018-10-17,500000,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
7047,7048,156900,Georgia Institute of Technology,Atlanta,GA,2017-03-31,500000,Monetary Gift,SAUDI ARABIA,King Abdullah University of Science
6737,6738,270700,Columbia University in the City of New York,New York,NY,2016-07-06,500000,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
7349,7350,215500,Harvard University,Cambridge,MA,2017-01-01,500000,Monetary Gift,SAUDI ARABIA,NaN
20947,20948,223300,Worcester Polytechnic Institute,Worcester,MA,2016-06-30,500000,Monetary Gift,SAUDI ARABIA,Tarek M Al-Shawaf
3675,3676,270700,Columbia University in the City of New York,New York,NY,2016-07-06,499897,Monetary Gift,SAUDI ARABIA,Mr. Abdulrahman R. Al-Rashed
14376,14377,131400,"University of California, Irvine",Irvine,CA,2016-03-30,470000,Monetary Gift,SAUDI ARABIA,KINGDOM OF SAUDI ARABIA
14098,14099,131200,"University of California, Berkeley",Berkeley,CA,2016-06-21,465000,Monetary Gift,SAUDI ARABIA,University of Jeddah
8981,8982,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-09-23,450000,Monetary Gift,SAUDI ARABIA,Saudi Aramco
4176,4177,182500,Purdue University,West Lafayette,IN,2015-06-03,425003,Monetary Gift,SAUDI ARABIA,King Abdullah Univ of Sci and Tech
8980,8981,217800,Massachusetts Institute of Technology,Cambridge,MA,2018-10-25,425000,Monetary Gift,SAUDI ARABIA,NaN
8979,8980,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-08-28,425000,Monetary Gift,SAUDI ARABIA,SAUDI ARAMCO
4215,4216,207700,Johns Hopkins University,Baltimore,MD,2012-01-30,421453,Monetary Gift,SAUDI ARABIA,NaN
4345,4346,132800,University of Southern California,Los Angeles,CA,2016-10-19,407105,Monetary Gift,SAUDI ARABIA,NaN
20665,20666,389500,University of Wisconsin - Madison,Madison,WI,2015-01-20,399960,Monetary Gift,SAUDI ARABIA,Rasha Said
5176,5177,132800,University of Southern California,Los Angeles,CA,2014-04-27,337499,Monetary Gift,SAUDI ARABIA,King Abdula Univ of Science & Tech
5191,5192,130500,Stanford University,Stanford,CA,2013-01-28,336667,Monetary Gift,SAUDI ARABIA,NaN
5243,5244,207700,Johns Hopkins University,Baltimore,MD,2013-10-31,332185,Monetary Gift,SAUDI ARABIA,NaN
8954,8955,217800,Massachusetts Institute of Technology,Cambridge,MA,2017-08-28,325000,Monetary Gift,SAUDI ARABIA,SAUDI ARAMCO
8943,8944,217800,Massachusetts Institute of Technology,Cambridge,MA,2015-12-03,300000,Monetary Gift,SAUDI ARABIA,Saudi Aramco
19583,19584,153600,University of Miami,Coral Gables,FL,2014-12-19,300000,Monetary Gift,SAUDI ARABIA,Anonumous
14051,14052,131200,"University of California, Berkeley",Berkeley,CA,2013-09-09,300000,Monetary Gift,SAUDI ARABIA,King Abdullah University of Science
6027,6028,216500,MCPHS University,Boston,MA,2016-06-23,294825,Monetary Gift,SAUDI ARABIA,The Saudi Arabian Cultural Mission
6171,6172,132800,University of Southern California,Los Angeles,CA,2016-03-08,284006,Monetary Gift,SAUDI ARABIA,Municipality
13759,13760,221900,Tufts University,Medford,MA,2013-01-22,270000,Monetary Gift,SAUDI ARABIA,"Ali Mohammed Allehbi, M.D."
6581,6582,216500,MCPHS University,Boston,MA,2018-11-15,258968,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
6956,6957,144500,Georgetown University,Washington,DC,2014-09-01,250000,Monetary Gift,SAUDI ARABIA,Suad Juffali
6957,6958,144500,Georgetown University,Washington,DC,2015-06-30,250000,Monetary Gift,SAUDI ARABIA,Suad Juffali
836,837,213000,Boston University,Boston,MA,2015-02-18,250000,Monetary Gift,SAUDI ARABIA,University of Dammam
7072,7073,215500,Harvard University,Cambridge,MA,2015-07-01,250000,Monetary Gift,SAUDI ARABIA,NaN
7105,7106,215500,Harvard University,Cambridge,MA,2016-07-01,250000,Monetary Gift,SAUDI ARABIA,NaN
7127,7128,215500,Harvard University,Cambridge,MA,2017-07-01,250000,Monetary Gift,SAUDI ARABIA,NaN
833,834,213000,Boston University,Boston,MA,2012-01-02,250000,Monetary Gift,SAUDI ARABIA,University of Dammam
20330,20331,132800,University of Southern California,Los Angeles,CA,2015-02-10,250000,Monetary Gift,SAUDI ARABIA,NaN
20946,20947,223300,Worcester Polytechnic Institute,Worcester,MA,2017-04-07,249974,Monetary Gift,SAUDI ARABIA,Tarek M Al-Shawaf
20945,20946,223300,Worcester Polytechnic Institute,Worcester,MA,2017-01-04,249974,Monetary Gift,SAUDI ARABIA,Tarek M Al-Shawaf
7176,7177,207700,Johns Hopkins University,Baltimore,MD,2018-06-01,239502,Monetary Gift,SAUDI ARABIA,NaN
12927,12928,130500,Stanford University,Stanford,CA,2013-06-10,200000,Monetary Gift,SAUDI ARABIA,NaN
12926,12927,130500,Stanford University,Stanford,CA,2013-06-10,200000,Monetary Gift,SAUDI ARABIA,NaN
12921,12922,130500,Stanford University,Stanford,CA,2012-02-08,200000,Monetary Gift,SAUDI ARABIA,NaN
7737,7738,194800,University of Kansas,Lawrence,KS,2017-06-30,192505,Monetary Gift,SAUDI ARABIA,NaN
7810,7811,130500,Stanford University,Stanford,CA,2015-11-13,186000,Monetary Gift,SAUDI ARABIA,NaN
8051,8052,207700,Johns Hopkins University,Baltimore,MD,2012-03-31,167637,Monetary Gift,SAUDI ARABIA,NaN
8527,8528,194800,University of Kansas,Lawrence,KS,2018-06-01,145938,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
8676,8677,207700,Johns Hopkins University,Baltimore,MD,2014-05-31,138039,Monetary Gift,SAUDI ARABIA,NaN
12731,12732,130500,Stanford University,Stanford,CA,2014-08-01,120000,Monetary Gift,SAUDI ARABIA,NaN
12732,12733,130500,Stanford University,Stanford,CA,2015-01-15,120000,Monetary Gift,SAUDI ARABIA,NaN
9138,9139,207700,Johns Hopkins University,Baltimore,MD,2013-11-30,118093,Monetary Gift,SAUDI ARABIA,NaN
9266,9267,207700,Johns Hopkins University,Baltimore,MD,2014-06-30,111689,Monetary Gift,SAUDI ARABIA,NaN
20978,20979,142600,Yale University,New Haven,CT,2013-04-11,100000,Monetary Gift,SAUDI ARABIA,Dallah Albaraka Group
9831,9832,207700,Johns Hopkins University,Baltimore,MD,2013-12-31,94054,Monetary Gift,SAUDI ARABIA,NaN
12563,12564,130500,Stanford University,Stanford,CA,2015-07-10,80000,Monetary Gift,SAUDI ARABIA,NaN
10156,10157,207700,Johns Hopkins University,Baltimore,MD,2013-09-30,79527,Monetary Gift,SAUDI ARABIA,NaN
18666,18667,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-15,75000,Monetary Gift,SAUDI ARABIA,ALRUAA ALTHAQIBA TRADING CO
18651,18652,131500,"University of California, Los Angeles",Los Angeles,CA,2014-02-14,60000,Monetary Gift,SAUDI ARABIA,King Saud University
11327,11328,207700,Johns Hopkins University,Baltimore,MD,2014-08-31,49118,Monetary Gift,SAUDI ARABIA,NaN
11382,11383,207700,Johns Hopkins University,Baltimore,MD,2014-04-30,47383,Monetary Gift,SAUDI ARABIA,NaN
9894,9895,173900,Northwestern University,Evanston,IL,2013-12-26,45000,Monetary Gift,SAUDI ARABIA,King Abdulaziz City for Science
12451,12452,130500,Stanford University,Stanford,CA,2015-11-10,40000,Monetary Gift,SAUDI ARABIA,NaN
11705,11706,194800,University of Kansas,Lawrence,KS,2018-12-31,39761,Monetary Gift,SAUDI ARABIA,ARAMCO Services
11819,11820,207700,Johns Hopkins University,Baltimore,MD,2013-08-31,37109,Monetary Gift,SAUDI ARABIA,NaN
12053,12054,194800,University of Kansas,Lawrence,KS,2018-06-01,32438,Monetary Gift,SAUDI ARABIA,ARAMCO Services
12124,12125,194800,University of Kansas,Lawrence,KS,2017-06-30,30913,Monetary Gift,SAUDI ARABIA,NaN
18566,18567,131500,"University of California, Los Angeles",Los Angeles,CA,2014-02-14,30000,Monetary Gift,SAUDI ARABIA,KING SAUD UNIVERSITY
12331,12332,207700,Johns Hopkins University,Baltimore,MD,2014-09-30,27962,Monetary Gift,SAUDI ARABIA,NaN
12439,12440,194800,University of Kansas,Lawrence,KS,2018-05-25,26400,Monetary Gift,SAUDI ARABIA,Dhahran Techno Valley Comoany
12673,12674,194800,University of Kansas,Lawrence,KS,2018-12-31,23430,Monetary Gift,SAUDI ARABIA,Aramco Gulf Operations Company
12884,12885,207700,Johns Hopkins University,Baltimore,MD,2014-02-28,20470,Monetary Gift,SAUDI ARABIA,NaN
18522,18523,131500,"University of California, Los Angeles",Los Angeles,CA,2013-01-16,20000,Monetary Gift,SAUDI ARABIA,Nazer Group
18525,18526,131500,"University of California, Los Angeles",Los Angeles,CA,2014-01-21,20000,Monetary Gift,SAUDI ARABIA,NAZER GROUP
13071,13072,194800,University of Kansas,Lawrence,KS,2018-12-31,18478,Monetary Gift,SAUDI ARABIA,Sabic Americas Inc
8462,8463,207700,Johns Hopkins University,Baltimore,MD,2014-01-31,17900,Monetary Gift,SAUDI ARABIA,NaN
13150,13151,207700,Johns Hopkins University,Baltimore,MD,2014-10-31,17209,Monetary Gift,SAUDI ARABIA,NaN
13581,13582,207700,Johns Hopkins University,Baltimore,MD,2014-03-31,13712,Monetary Gift,SAUDI ARABIA,NaN
19339,19340,194800,University of Kansas,Lawrence,KS,2018-05-30,12507,Monetary Gift,SAUDI ARABIA,Chevron
13755,13756,194800,University of Kansas,Lawrence,KS,2018-05-30,12012,Monetary Gift,SAUDI ARABIA,Armaco Gulf Operations Company
12314,12315,130500,Stanford University,Stanford,CA,2014-08-01,9000,Monetary Gift,SAUDI ARABIA,NaN
18351,18352,131500,"University of California, Los Angeles",Los Angeles,CA,2013-05-09,5500,Monetary Gift,SAUDI ARABIA,"Sanbar, Shadi"
8448,8449,207700,Johns Hopkins University,Baltimore,MD,2012-06-30,4140,Monetary Gift,SAUDI ARABIA,NaN
16141,16142,194800,University of Kansas,Lawrence,KS,2018-06-01,2139,Monetary Gift,SAUDI ARABIA,Saudi Arabian Cultural Mission
16694,16695,131500,"University of California, Los Angeles",Los Angeles,CA,2017-02-11,100,Monetary Gift,SAUDI ARABIA,"ALGHAITH, LAMYA"
8311,8312,207700,Johns Hopkins University,Baltimore,MD,2014-11-30,75,Monetary Gift,SAUDI ARABIA,NaN
15092,15093,131500,"University of California, Los Angeles",Los Angeles,CA,2014-05-16,20,Monetary Gift,SAUDI ARABIA,"ALOLYAN, IBRAHAM"

In [69]:
df.groupby(by='Country of Giftor').sum().sort_values(by='Foreign Gift Amount',ascending = False)

                                ID      OPEID  Foreign Gift Amount
Country of Giftor
QATAR                      3315093  118552000           1478676069
ENGLAND                   31589478  552868700            936468499
BERMUDA                     926520   23718000            812426114
CHINA                     18092303  315381600            680273016
SAUDI ARABIA               6245636  141787300            649971586
HONG KONG                 10044775  153988300            583104614
CANADA                    23516436  377770600            511016461
JAPAN                     20199569  337935500            447932424
INDIA                      2366358  121098700            428598388
SWITZERLAND               14075862  338162400            421080365
FRANCE                    13784153  257375000            367445405
SINGAPORE                  3304231   70442000            266965690
GERMANY                   11353173  211084300            237677300
UNITED ARAB EMIRATES       1157839   43122900            230945101
BRAZIL                     1723522   46599900            147547011
SWEDEN                     1399422   43238200            147129926
SOUTH KOREA                6225202  106640400            119886238
THAILAND                    594590   19518800            119420134
SPAIN                      2272677   38557300            106535110
DENMARK                    2070487   51212400            106288953
RUSSIA                      506908    8644600             99461804
TAIWAN                     4915700   67794900             95130238
KOREA                      3823883   76727900             93952271
THE NETHERLANDS            4106767  113021200             91681138
MEXICO                     1088736   29572400             75616658
IRELAND                    2022466   52795100             72763688
MALAYSIA                   1054811   31393500             71977992
ITALY                      4538951   92019500             66914523
KUWAIT                      540054   16377400             65782667
KAZAKHSTAN                  427692   12081900             62179114
AUSTRALIA                  2778533   44633100             61456333
NORWAY                     1960424   40568500             59926205
ISRAEL                     2968064   54640800             53740485
BAHAMAS                     505561   13303300             53036469
PORTUGAL                    222883    7057600             50916718
BELGIUM                     931328   26616500             50862397
IRAQ                        129013    2868500             44276761
INDONESIA                   672478   26219200             43694319
SOUTH AFRICA                728647   21781100             40198009
ECUADOR                      47478    2177600             37837159
TURKEY                      400498   10885300             37724394
COLOMBIA                    729894   28242300             31384804
CHILE                       401442   11258400             24954142
PERU                        406427   10675200             24300948
MOROCCO                      64397    1671000             22689795
GREECE                      367316    7426500             20991175
NIGERIA                     367532   10286800             19544817
AUSTRIA                     471099   12066400             19326142
PHILIPPINES                 183005    3654900             18491819
JERSEY                       27286     783900             17882533
UNITED NATIONS              960338   30044700             17547619
PANAMA                       72620    2338400             15476151
MONACO                      483052   13787800             14523530
ZAMBIA                      656045   12373300             13439633
LIECHTENSTEIN               143133    5469300             12213329
VIETNAM                     277333    8323000             11799413
KENYA                       709553   21243300             11668320
TANZANIA                    231002    7538000             10598200
CYPRUS                       42502    1931700              9719868
FINLAND                     549387   12114700              9649215
AFGHANISTAN                 106374    3302700              8891774
BANGLADESH                  385349   10238800              7949693
CAYMAN ISLANDS (THE)        101337    4976300              7749483
BURMA                        51291    2554800              6867974
SCOTLAND                    341936   11701700              6839597
VIRGIN ISLANDS (BRITISH)     36503    1258700              6720000
EGYPT                       160157    3305400              6121159
USA                         150465    5309000              6096662
GHANA                       291091    7222900              5965732
NEW ZEALAND                 277144    5728200              5809245
LEBANON                     159286    4249300              5708001
ARGENTINA                   200480    4094400              5456158
BRITISH WEST INDIES          56644    2793800              5324506
RWANDA                       86638    3829100              5277097
SWAZILAND                    74436    2038600              5189097
PAKISTAN                     98694    2055700              4895309
OMAN                         69699    2667100              4701815
BAHRAIN                      49976    1609100              4161970
ISLE OF MAN                  15152     431000              4000000
MALAWI                       77536    2944800              3445533
VENEZUELA                    39534     807000              3311132
CZECH REPUBLIC               58694    2180700              2908384
COSTA RICA                  143755    4620500              2750936
JORDAN                      226066    5498900              2541824
POLAND                       91479    2373500              2509754
URUGUAY                      31890    1571300              2345494
EL SALVADOR                  54249    1125900              2275000
LIBYA                          749     221900              2210000
GUATEMALA                   194879    6046900              2165905
LITHUANIA                    50055    1376900              2149946
HAITI                       173844    3864600              2086409
CURAçAO                      25926    1309600              2049606
HUNGARY                      77842    1798500              1891948
UGANDA                      163922    3551900              1856166
PUERTO RICO                  63943    1330600              1516786
CEYLON                      309808   10717200              1481013
WALES                        53708    1258700              1453000
BOTSWANA                     47174    1293000              1452470
SYRIAN ARAB REPUBLIC         22702     830800              1364702
HONDURAS                     40234    1007100              1305173
ETHIOPIA                     75879    1417300              1171854
MOZAMBIQUE                   16648     623100              1071482
PALESTINE, STATE OF          14662     431000              1050000
MARSHAL ISLANDS (THE)         1509     278500              1041666
TUNISIA                      17068     702100              1033701
GRENADA                      43744    1190700              1021630
GUERNSEY                     41169     749000              1000000
TRINIDAD                     82692    1783300               987398
BULGARIA                     49239    1626600               956394
LUXEMBOURG                  157009    2578200               942276
LESOTHO                      22827     623100               848646
MAURITIUS                    17989     435600               825000
DOMINICAN REPUBLIC           26230     602800               693576
GEORGIA                      42670     987200               638017
ANGOLA                        3675     318400               499908
ROMANIA                        826     212100               440000
GUAM                         26593     623100               436500
PAPUA NEW GUINEA             28977     812100               369728
SERBIA                       43738     932100               352630
BOLIVIA                       6903     292000               300000
NAMIBIA                      19715     415400               216470
BOSNIA-HERCEGOVINA           21835     415400               118892
ZIMBABWE                     52694    1560100                92378
SENEGAL                      23366     415400                80065
MALTA                        48626    1372900                75719
BOSNIA AND HERZEGOVINA       26078     415400                56529
NEPAL                        12350     207700                27744
AZERBAIJAN                   21134     415400                22516
JAMAICA                      33377     830800                18225
MALI                         45338     623100                16960
TOKELAU                       8455     207700                 6000
MADAGASCAR                    8432     207700                 1176
LIBERIA                      16774     207700                 1170
ARMENIA                       8398     207700                  300
SLOVENIA                     16533     415400                  115
BARBADOS                      8359     207700                  100
BELARUS                       8353     207700                  100
IRAN                         16377     415400                   80
ST. LUCIA                     8248     207700                   50
ICELAND                       8217     207700                   50
LATVIA                        8197     207700                   50
CROATIA                       8166     207700                   26
SLOVAKIA                      8161     207700                   20
ERITREA                      14443     131500                    3

In [76]:
df_qatar = df[(df['Country of Giftor'] == 'QATAR')].sort_values(by='Foreign Gift Amount',ascending = False)

In [72]:
df[(df['Country of Giftor'] == 'QATAR')].groupby(by='Giftor Name').sum().sort_values(by='Foreign Gift Amount',ascending = False)

                                          ID     OPEID  Foreign Gift Amount
Giftor Name
Qatar Foundation                     1463813  58709800            968889152
Qatar Foundation for Education         17146   1296800            299783429
Qatar National Research Fund          734209  28452500             76899012
Qatar                                  13847   1089600             19752354
Qatar University                      123500   3132000              7480419
Qatar National Research                16848   1945200              4573226
Jasoor Institute                       11631    433500              4514402
Embassy of the State of Qatar          12026    610000              2682762
Hamad Medical Corporation              36032   1049600              2265779
Sidra Medical and Research Center      32361    606300              1244226
RasGas Company Limited                218657   2270100              1200850
Qatar Computing Research Institute      1821    363200               995890
Maersk Oil Qatar                        2195    363200               801692
Qatar Petroleum                       119283   1081000               726103
Maersk Oil                              2703    363200               634950
Supreme Cmte for Delivery & Legacy      2716    144500               629375
Doha Film Institute                    20065    347800               600000
Qatar University                       23576    596400               586258
Hamad Medical Corporation              12782    405700               542837
Weill Cornell Medical College/Qatar     3282    271100               508500
Josoor Institute                        3705    144500               494813
Al Faisal Holding Co                    3818    167100               476485
Construction Development Co, LLC        3962    332900               450906
Qatar Founation                         3965    363200               450596
Qatar Biomedical Research Institute     5098    189200               344857
Qatar Airways                          42116    540500               343957
Aramco Services Co                      5190    363200               336902
Qatar Environmental & Energy Res In     5298    182500               328110
Qatar Environmntl & Energy Res Inst     5954    182500               299450
Silatech                                9644    278500               290526
Qatar National Foundation               9643    278500               290526
Hamad Medical Corp                      6112    271100               288968
Qatar National Research Fund            6666    144500               254317
Qatar Leadership Center                 6688    360400               252896
Ooredoo                                 7075    363200               249978
Qatar University/Qatar National R.     18227    347800               238455
Texas A&M/Qatar National Research      29777    521700               228955
Qatar Environment & Energy Res Inst    19722    232500               197250
Qatar Nat'l Research Fund              50630    697500               189215
Primary Health Care Corporation         8603    450800               141685
Primary Healthcare Corp-Qatar           8720    450800               134938
Qatar Foundaton                         8890    363200               127639
Qatar National Research Fund/Qatar      9110    173900               119252
Qatar Foundation                        9148    363200               117772
Qatar National Research Fund/Qatar      9227    173900               113749
Qatar Foundationq                       9952    363200                87606
Qatar Foundaiton                       12339    363200                27800

In [74]:
df2 = df[(df['Country of Giftor'] == 'QATAR')].groupby(by='Institution Name').sum().sort_values(by='Foreign Gift Amount',ascending = False)

In [75]:
df2.head()

                                 ID     OPEID  Foreign Gift Amount
Institution Name
Carnegie Mellon University    61434   7132400            376325840
Georgetown University         50341   3468000            350874324
Northwestern University      495681   9738400            340244432
Texas A&M University        1328192  57385600            274710107
Cornell University           359498  20332500             65780453

In [80]:
df2.plot(x='Instiution Name',y ='Foreign Gift Amount', kind= 'barh')

KeyError: 'Instiution Name'